<div class='license col-xs-12 col-sm-4 col-md-3'>
  <h4>
    <div class="blurb">
      <h4><%= link_to format_license(license.term), license_path(license.term) %></h4>
      <small><%= number_with_delimiter license['count'] %> Projects</small>
    </div>
  </h4>
</div>
