<p class='list'>
  <strong><%= link_to format_license(license['key']), search_path(licenses: license['key'], platforms: @platform_name, languages: @language, keywords: @keyword) %></strong>
  <small><%= pluralize number_to_human(license['doc_count']), 'project' %></small>
</p>
