<p class='list'>
  <strong><%= link_to format_license(license.term), search_path(licenses: license.term, platforms: @platform_name, languages: @language, keywords: @keyword) %></strong>
  <small><%= pluralize number_to_human(license['count']), 'project' %></small>
</p>
