<% title "Licenses - Libraries.io" %>
<% description "All the open source licenses that projects have been licensed with" %>
<h1>
  <%= fa_icon 'gavel' %>
  Open Source Licenses
</h1>
<hr>
<div class='row'>
  <div class="col-md-8">
    <div class="row">
      <%= render partial: 'license', collection: @licenses %>
    </div>
  </div>
  <div class="col-md-4">

  </div>
</div>
