<% title "Licenses - Libraries" %>
<% description "All the open source licenses that projects have been licensed with" %>
<h1>Open Source Licenses</h1><hr>
<div class='row'>
  <%= render partial: 'license', collection: @licenses %>
</div>
