<% title "Licenses - Libraries" %>

<h1>Open Source Licenses</h1><hr>
<div class='row'>
  <% @licenses.each do |license| %>
  <div class='platform col-md-4'>
    <h4><%= link_to license.term, license_path(license.term) %></h4>
    <%= number_with_delimiter license['count'] %> Projects
  </div>
  <% end %>
</div>
