---
http_interactions:
- request:
    method: get
    uri: https://api.nuget.org/v3/registration5-gz-semver2/entityframework.mappingapi/index.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Md5:
      - wBeNVRbxOBKTpASLd2PyWA==
      Content-Type:
      - application/json
      Etag:
      - '0x8D91C8DCCA0BD28'
      Last-Modified:
      - Fri, 21 May 2021 19:22:39 GMT
      X-Cdn-Rewrite:
      - Root path in dist
      X-Ms-Blob-Type:
      - BlockBlob
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Version:
      - '2009-09-19'
    body:
      encoding: ASCII-8BIT
      string: '{"@id":"https://api.nuget.org/v3/registration5-gz-semver2/entityframework.mappingapi/index.json","@type":["catalog:CatalogRoot","PackageRegistration","catalog:Permalink"],"commitId":"ddb4a0bd-8836-444f-b42a-9502cd02cbb0","commitTimeStamp":"2021-05-21T19:22:21.0039216+00:00","count":1,"items":[{"@id":"https://api.nuget.org/v3/registration5-gz-semver2/entityframework.mappingapi/index.json#page/4.1.0/6.2.1","@type":"catalog:CatalogPage","commitId":"ddb4a0bd-8836-444f-b42a-9502cd02cbb0","commitTimeStamp":"2021-05-21T19:22:21.0039216+00:00","count":29,"items":[{"@id":"https://api.nuget.org/v3/registration5-gz-semver2/entityframework.mappingapi/4.1.0.json","@type":"Package","commitId":"ddb4a0bd-8836-444f-b42a-9502cd02cbb0","commitTimeStamp":"2021-05-21T19:22:21.0039216+00:00","catalogEntry":{"@id":"https://api.nuget.org/v3/catalog0/data/2021.05.21.19.21.41/entityframework.mappingapi.4.1.0.json","@type":"PackageDetails","authors":"Markko
        Legonkov","dependencyGroups":[{"@id":"https://api.nuget.org/v3/catalog0/data/2021.05.21.19.21.41/entityframework.mappingapi.4.1.0.json#dependencygroup","@type":"PackageDependencyGroup","dependencies":[{"@id":"https://api.nuget.org/v3/catalog0/data/2021.05.21.19.21.41/entityframework.mappingapi.4.1.0.json#dependencygroup/entityframework","@type":"PackageDependency","id":"EntityFramework","range":"[4.1.10311,
        4.3.1]","registration":"https://api.nuget.org/v3/registration5-gz-semver2/entityframework/index.json"}]}],"deprecation":{"@id":"https://api.nuget.org/v3/catalog0/data/2021.05.21.19.21.41/entityframework.mappingapi.4.1.0.json#deprecation","@type":"deprecation","alternatePackage":{"@id":"https://api.nuget.org/v3/catalog0/data/2021.05.21.19.21.41/entityframework.mappingapi.4.1.0.json#deprecation/alternatePackage","@type":"alternatePackage","id":"Z.EntityFramework.Extensions","range":"*"},"reasons":["Legacy"]},"description":"We
        moved here: http://entityframework-extensions.net/\n\nNOTE: The current package
        is *UNSUPPORTED* since 2014","iconUrl":"https://api.nuget.org/v3-flatcontainer/entityframework.mappingapi/4.1.0/icon","id":"EntityFramework.MappingAPI","language":"en-US","licenseExpression":"","licenseUrl":"https://efmappingapi.codeplex.com/license","listed":false,"minClientVersion":"","packageContent":"https://api.nuget.org/v3-flatcontainer/entityframework.mappingapi/4.1.0/entityframework.mappingapi.4.1.0.nupkg","projectUrl":"http://entityframework-extensions.net/?z=nuget&y=mappingapi","published":"1900-01-01T00:00:00+00:00","requireLicenseAcceptance":true,"summary":"We
        moved here: http://entityframework-extensions.net/\n\nNOTE: The current package
        is *UNSUPPORTED* since 2014","tags":["data","EntityFramework","mapping","api"],"title":"[Deprecated]
        EntityFramework.MappingAPI","version":"4.1.0"},"packageContent":"https://api.nuget.org/v3-flatcontainer/entityframework.mappingapi/4.1.0/entityframework.mappingapi.4.1.0.nupkg","registration":"https://api.nuget.org/v3/registration5-gz-semver2/entityframework.mappingapi/index.json"},{"@id":"https://api.nuget.org/v3/registration5-gz-semver2/entityframework.mappingapi/4.1.0.1.json","@type":"Package","commitId":"ddb4a0bd-8836-444f-b42a-9502cd02cbb0","commitTimeStamp":"2021-05-21T19:22:21.0039216+00:00","catalogEntry":{"@id":"https://api[...]
