---
http_interactions:
- request:
    method: get
    uri: https://api.nuget.org/v3/registration5-gz-semver2/nlog.extensions.logging/index.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Md5:
      - 2RuFVKrwWwUwQoj974Ybtw==
      Content-Type:
      - application/json
      Etag:
      - '0x8DBAF0F7AB70BB6'
      Last-Modified:
      - Wed, 06 Sep 2023 19:28:42 GMT
      X-Cdn-Rewrite:
      - Root path in dist
      X-Ms-Blob-Type:
      - BlockBlob
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Version:
      - '2009-09-19'
    body:
      encoding: ASCII-8BIT
      string: '{"@id":"https://api.nuget.org/v3/registration5-gz-semver2/nlog.extensions.logging/index.json","@type":["catalog:CatalogRoot","PackageRegistration","catalog:Permalink"],"commitId":"6c1c1171-616f-4d3d-8e79-ed138a94d93c","commitTimeStamp":"2023-09-06T19:28:41.8692987+00:00","count":2,"items":[{"@id":"https://api.nuget.org/v3/registration5-gz-semver2/nlog.extensions.logging/index.json#page/1.0.0-rc1/5.2.0","@type":"catalog:CatalogPage","commitId":"6c1c1171-616f-4d3d-8e79-ed138a94d93c","commitTimeStamp":"2023-09-06T19:28:41.8692987+00:00","count":64,"items":[{"@id":"https://api.nuget.org/v3/registration5-gz-semver2/nlog.extensions.logging/1.0.0-rc1.json","@type":"Package","commitId":"30ca6325-85ec-471b-a562-a6e94bda1c56","commitTimeStamp":"2023-08-28T18:09:40.3764336+00:00","catalogEntry":{"@id":"https://api.nuget.org/v3/catalog0/data/2023.08.28.18.08.57/nlog.extensions.logging.1.0.0-rc1.json","@type":"PackageDetails","authors":"Microsoft,Julian
        Verdurmen","dependencyGroups":[{"@id":"https://api.nuget.org/v3/catalog0/data/2023.08.28.18.08.57/nlog.extensions.logging.1.0.0-rc1.json#dependencygroup/.netframework4.5.1","@type":"PackageDependencyGroup","dependencies":[{"@id":"https://api.nuget.org/v3/catalog0/data/2023.08.28.18.08.57/nlog.extensions.logging.1.0.0-rc1.json#dependencygroup/.netframework4.5.1/nlog","@type":"PackageDependency","id":"NLog","range":"[4.4.12,
        )","registration":"https://api.nuget.org/v3/registration5-gz-semver2/nlog/index.json"},{"@id":"https://api.nuget.org/v3/catalog0/data/2023.08.28.18.08.57/nlog.extensions.logging.1.0.0-rc1.json#dependencygroup/.netframework4.5.1/microsoft.extensions.logging.abstractions","@type":"PackageDependency","id":"Microsoft.Extensions.Logging.Abstractions","range":"[1.1.2,
        )","registration":"https://api.nuget.org/v3/registration5-gz-semver2/microsoft.extensions.logging.abstractions/index.json"}],"targetFramework":".NETFramework4.5.1"},{"@id":"https://api.nuget.org/v3/catalog0/data/2023.08.28.18.08.57/nlog.extensions.logging.1.0.0-rc1.json#dependencygroup/.netframework4.6.1","@type":"PackageDependencyGroup","dependencies":[{"@id":"https://api.nuget.org/v3/catalog0/data/2023.08.28.18.08.57/nlog.extensions.logging.1.0.0-rc1.json#dependencygroup/.netframework4.6.1/nlog","@type":"PackageDependency","id":"NLog","range":"[4.4.12,
        )","registration":"https://api.nuget.org/v3/registration5-gz-semver2/nlog/[...]
