<div class="row">
  <div class="col-xs-8">
    <%= render repository %>
  </div>
  <div class="col-xs-4">
    <% if current_user.subscribed_to_repo?(repository) %>
      <%= button_to 'Unwatch', unwatch_path(repository.id), method: :post, class: 'btn btn-danger' %>
    <% else %>
      <%= button_to 'Watch', watch_path(repository.id), method: :post, class: 'btn btn-primary' %>
    <% end %>
    <small>
      <%= link_to pluralize([], 'dependencies'), repository_path(repository.to_param.merge(anchor: 'dependencies')) %>
    </small>
  </div>
</div>
