<p>
  Libraries.io can automatically keep track of all
  of the libraries that your repositories depend upon across many different package managers.
</p>
<p>
  Once synced, Libraries.io will email you about new versions of your dependencies,
  if you add or remove a new dependency it will change the notifications settings for that library
  as soon as you push to your repositories.
</p>
<p><strong>Supported Package Managers:</strong></p>
<div class="">
  <% PackageManager::Base.platforms.select{|p| p::LIBRARIAN_SUPPORT }.sort_by{|p| p.formatted_name.downcase }.each do |platform| %>
    <a class="pictogram tip pictogram-<%= platform.formatted_name.downcase %>" href="/<%= platform.formatted_name %>" title='<%= platform.formatted_name %>'></a>
  <% end %>
</div>
<br>
<p>
<% if current_user && current_user.needs_to_enable_github_access? %>
  <%= link_to enable_public_path, class: 'btn btn-primary' do %>
    <i class="fa fa-github"></i> Enable Open Source Access for Free
  <% end %>
<% elsif current_user %>
  <%= link_to repositories_path, class: 'btn btn-primary' do %>
    <%= fa_icon 'github' %>
    Manage your Repositories
  <% end %>
<% else %>
  <%= link_to repositories_path, class: 'btn btn-primary' do %>
    <%= fa_icon 'github' %>
    Start monitoring your Repositories
  <% end %>
<% end %>
</p>
