<div class="row">
  <div class="col-md-8" id='newsfeed'>
    <%= render collection: @versions, partial: 'dashboard/new_version', as: :version  %>
    <%= will_paginate @versions, renderer: BootstrapPagination::Rails, page_links: false %>
  </div>
  <div class="col-md-4">
    <h3>Recommended Libraries</h3>
    <%= render collection: @projects, partial: 'project' %>
  </div>
</div>
