Tidelift has over $1 million dollars available to pay open source maintainers.
If you're a maintainer:
<strong>
    <a href="https://tidelift.com/about/lifter" target="_blank"
                style="text-decoration:underline;color: white;">
    Find your package.
    </a>
</strong>
