20%% of your dependencies might be unmaintained
<strong>
  <a href="https://tidelift.com/subscription/dependency-analyzer?utm_source=libraries.io&utm_medium=referral&utm_content=analyzer-2"
     target="_blank"
     style="text-decoration:underline;color: white;">
     Try our free dependency analyzer
  </a>
</strong>
