<strong>
  Predictions: What's in the crystal ball for OSS security in 2024?
  <a href="https://tidelift.com/webinar/predictions-what-is-the-crystal-ball-for-open-source-software-security-in-2024?utm_source=librariesio&utm_medium=referral&utm_campaign=webinar011824"
    style="text-decoration:underline;color: white;">
    Watch Now!
  </a>
</strong>
