<strong>
  <a href="https://blog.tidelift.com/tidelift-joins-sonar?utm_source=libraries&utm_medium=referral"
    style="text-decoration:underline;color: white;">Big news!</a>
    Sonar has entered a definitive agreement to acquire Tidelift!
</strong>
