Best practices for software development teams seeking to optimize their use of open source components.
<strong>
  <a href="https://tidelift.com/subscription/the_tidelift_guide_to_managing_open_source?utm_source=libraries.io&utm_medium=referral&utm_content=subscriber-2"
     target="_blank"
     style="text-decoration:underline;color: white;">
     Free e-book
  </a>
</strong>
