What are meaningful ways new contributors can participate in the Hacktoberfest festivities?
<strong>
  <a href="https://upstream.live/webinar/hacktoberfest?utm_source=libraries&utm_medium=referral&utm_campaign=hacktoberfest-2021"
    target="_blank"
    style="text-decoration:underline;color: white;">
    RSVP
  </a>
</strong>
