New IDC data proves the need for better OSS management.
<strong>
  <a href="https://tidelift.com/subscription/webinar/building-enterprise-software-applications-with-open-source?utm_source=libraries&utm_medium=referral&utm_campaign=idc-102021&utm_term=1"
    target="_blank"
    style="text-decoration:underline;color: white;">
    RSVP
  </a>
</strong>
