Joint IDC / Tidelift Webinar: The future of open source software support.
<strong>
  <a href="https://tidelift.com/subscription/webinar/idc?utm_source=libraries&utm_medium=referral&utm_campaign=idc-webinar"
    target="_blank"
    style="text-decoration:underline;color: white;">
    Watch now.
  </a>
</strong>
