<strong>
  <a href="https://tidelift.com/use-libraries-io-to-make-better-data-driven-open-source-package-decisions?utm_source=librariesio&utm_medium=referral&utm_campaign=top&utm_term=libraries-0923"
    style="text-decoration:underline;color: white;">
    Use Libraries.io to make better, data-driven open source package decisions
  </a>
</strong>
