<strong>
  <a href="https://tidelift.com/webinar/10-critical-things-to-know-before-depending-on-an-open-source-project?utm_source=librariesio&utm_medium=referral&utm_campaign=top&utm_term=libraries-1123"
    style="text-decoration:underline;color: white;">
    10 critical things to know before depending on an open source library
  </a>
</strong>
