<strong>
  Watch our latest webinar to understand the difference between data from Libraries.io and the Tidelift Subscription.
  <a href="https://explore.tidelift.com/upstream/upstream-2024/upstream-24-session-luis-villa-welcome?utm_source=libraries.io&utm_medium=referral&utm_campaign=upstream2024"
    style="text-decoration:underline;color: white;">
  </a>
</strong>
