<strong>
  <a href="https://tidelift.com/webinar/understanding-the-difference-between-data-from-libraries.io-and-the-tidelift-subscription"
    style="text-decoration:underline;color: white;">Watch our latest webinar
  </a>
    to understand the difference between data from Libraries.io and the Tidelift Subscription.
</strong>
