On-demand webinar: Everything you never wanted to know about open source licenses and were too bored to ask.
<strong>
  <a href="https://tidelift.com/subscription/webinar/everything-you-never-wanted-to-know-about-open-source-licenses-and-were-too-bored-to-ask?utm_source=referral&utm_medium=libraries&utm_campaign=licensing-webinar&utm_content=2"
    target="_blank"
    style="text-decoration:underline;color: white;">
    Register now.
  </a>
</strong>
