Open source licenses AMA.
<strong>
  <a href="https://tidelift.com/subscription/webinar/open-source-licenses-ama?utm_source=referral&utm_medium=libraries&utm_campaign=licensing-ama"
    target="_blank"
    style="text-decoration:underline;color: white;">
    Register now.
  </a>
</strong>
