39% of orgs aren't confident in their OSS management.
<strong>
  <a href="https://tidelift.com/subscription/webinar/building-enterprise-software-applications-with-open-source?utm_source=libraries&utm_medium=referral&utm_campaign=idc-102021&utm_term=2"
    target="_blank"
    style="text-decoration:underline;color: white;">
    RSVP for tips
  </a>
</strong>
