<strong>
  How to reduce your reliance on "bad" open source packages ✨
  <a href="https://tidelift.com/webinar/how-to-reduce-your-organizations-reliance-on-bad-open-source-packages?utm_source=librariesio&utm_medium=referral&utm_campaign=webinar0524"
    style="text-decoration:underline;color: white;">
    RSVP
  </a>
</strong>
