<strong>
  <a href="https://tidelift.com/webinar/why-this-ciso-thinks-sboms-arent-the-silver-bullet?utm_source=librariesio&utm_medium=referral&utm_campaign=idc-webinar"
    target="_blank"
    style="text-decoration:underline;color: white;">
    Watch now:
  </a>
  Why this CISO thinks SBOMs aren't the silver bullet
</strong>
