<strong>
  Why software composition analysis tools aren't enough; 
  <a href="https://tidelift.com/webinar/why-software-composition-analysis-tools-arent-enough?utm_source=librariesio&utm_medium=referral&utm_campaign=sca-tools-webinar" 
    target="_blank"
    style="text-decoration:underline;color: white;">
    Watch now!
  </a>
</strong>
