<strong>
  SCA tools are cool, but are they enough? Join us Sept. 22.
  <a href="https://tidelift.com/webinar/why-software-composition-analysis-tools-arent-enough?utm_source=librariesio&utm_medium=referral&utm_campaign=sca-tools-webinar-2" 
    target="_blank"
    style="text-decoration:underline;color: white;">
    RSVP
  </a>
</strong>
