<strong>
  Upstream is June 7: Hear from maintainers of log4j and other top projects.
  <a href="https://upstream.live/?utm_source=librariesio&utm_medium=referral&utm_campaign=upstream-23-5"
    target="_blank"
    style="text-decoration:underline;color: white;">
    RSVP
  </a>
</strong>
