<strong>
  June 7: OSS maintainers did not sign up to be a part of anyone’s supply chain; let’s fix this!
  <a href="https://upstream.live/?utm_source=librariesio&utm_medium=referral&utm_campaign=upstream-23-3"
    target="_blank"
    style="text-decoration:underline;color: white;">
    RSVP
  </a>
</strong>
