<strong>
  Upstream is June 7: Attend and you might get a $100 gift
  <a href="https://upstream.live/?utm_source=librariesio&utm_medium=referral&utm_campaign=upstream-23-6"
    target="_blank"
    style="text-decoration:underline;color: white;">
    RSVP
  </a>
</strong>
