<strong>
  June 7: Upstream, a virtual celebration of open source. First 500 registrants get a t-shirt (US only)
  <a href="https://upstream.live/?utm_source=librariesio&utm_medium=referral&utm_campaign=upstream-23-1"
    target="_blank"
    style="text-decoration:underline;color: white;">
    RSVP
  </a>
</strong>
