Webinar: How is Bloomberg supporting the Python community by shifting left?
<strong>
  <a href="https://upstream.live/webinar/supporting-the-python-community-by-shifting-left?utm_source=libraries&utm_medium=referral&utm_campaign=upstream-webinar"
    target="_blank"
    style="text-decoration:underline;color: white;">
    Watch now.
  </a>
</strong>
