How the power of upstream thinking can make open source work better–for everyone.
<strong>
  <a href="https://explore.tidelift.com/upstream/main/session-dr-rishi-manchanda?utm_source=libraries&utm_medium=referral&utm_campaign=upstream-post-1"
    target="_blank"
    style="text-decoration:underline;color: white;">
    Watch now
  </a>
</strong>
