<strong>
  June 7: First 500 registrants for Upstream get a t-shirt (US only).
  <a href="https://upstream.live/?utm_source=librariesio&utm_medium=referral&utm_campaign=upstream-23-4"
    target="_blank"
    style="text-decoration:underline;color: white;">
    RSVP
  </a>
</strong>
