<strong>
  June 7: How do we fix the accidental supply chain that open source has become? 
  <a href="https://upstream.live/?utm_source=librariesio&utm_medium=referral&utm_campaign=upstream-23-2"
    target="_blank"
    style="text-decoration:underline;color: white;">
    RSVP
  </a>
</strong>
