[Webinar on June 4] Best practices for open source app development in a downturn.
<strong>
  <a href="https://event.on24.com/eventRegistration/EventLobbyServlet?target=reg20.jsp&partnerref=TideLift&eventid=2304040&sessionid=1&key=416F6FA3EDDA8627F1DECD727A82A028&regTag=&sourcepage=libraries"
    target="_blank"
    style="text-decoration:underline;color: white;">
    Register now.
  </a>
</strong>
