<% title "Dependency Tree for #{@repository} - Libraries.io" %>
<h1>
  <%= fa_icon 'code-fork' %>
  Dependency Tree for <%= link_to @repository, repository_path(@repository.owner_name, @repository.project_name) %>
</h1>
<% if @date && @date != Date.today %>
<p>
  <small>
      As if it was resolved on <%= @date.to_formatted_s(:long_ordinal)  %>
  </small>
</p>
<% end %>

<hr>

<div class="row">
  <div id="tree">
    <%= render 'repository_tree/tree', tree: @tree %>
  </div>
</div>
