language: ruby
sudo: false
rvm:
- 2.5.1
before_install:
- gem update --system
- gem install bundler
- curl -O https://download.elastic.co/elasticsearch/release/org/elasticsearch/distribution/deb/elasticsearch/2.4.4/elasticsearch-2.4.4.deb
  && sudo dpkg -i --force-confnew elasticsearch-2.4.4.deb && sudo service elasticsearch
  restart
- psql -c 'create database libraries_test' -U postgres
services:
- postgresql
- redis
- elasticsearch
script:
- RAILS_ENV=test bundle exec rake --trace db:migrate spec
bundler_args: "--without development production --deployment --jobs=3 --retry=3"
cache: bundler
notifications:
  slack:
    secure: L/NnqXHqMMapAmqv7vg8RW0qPbIUWvV5qK3E53cEYWfBqklBM76aXbQ1JjRiH0NWalgg1e29/jdYawnaYMM4epS26ie5ONdoTbEc+aOUXAQZUr6mrb1413HtP6AdGgRKCVbq1v16Zl/GvmixGO6faPP1s84NH2Fi/SBm9VO43XImhGyWqw1TG52VE9EMALwUy8N0jnR5jpngjlADGeF8NF78Te6JmWYJRqVthN46vjJy7Dc7a10p4YK26ddu7JPAGz5rnghzmkIStiumrq1UqEFsyQ2jcUicMJCweoxYgQqS8JAu/7niQ2m/ioU6+IHeBS9YxORW84zFazxRyYwpUjeU1imIodvByIjpofOrWqm/anADYRzx8jbaEVV8hj7WyGSMQP2Lq3N2mcIAbKkIFwDUGMYOkMDZ542F/L+4npSCDMHGSVTme5VrkFYaWue9oRqU16pjsHOlr8s6M/BRnntEIoxf4zhXZ8CiHYSu44TUU2YmX2sgR1tAXqvUQT4jCOIxd07jH7ILpxTDb+yZesMLa2pyoCq9hmi8Z3Qk/BJv+RWMkE4J9/eacppm4frO4NyY5m07kQ9QhI65bb++iFqbDxwtsqSCFSqVFeXyWeO/6GI0ERvG7DY66y4K5++3/32k2Hm6048CmfadNuWZImvI+996nxx1lsTUC4D/NvI=
addons:
  postgresql: "9.6"
