<% title "Repositories forked from #{@repository} - Libraries.io" %>

<h1>Repositories forked from <%= link_to @repository.full_name, repository_path(@repository.to_param) %></h1>
<hr>
<div class="row">
  <div class="col-sm-8">
    <% if @forks.length > 0 %>
      <%= render @forks %>
      <%= will_paginate @forks, page_links: false %>
    <% else %>
      <p>
        No repositories found, go back to <%= link_to @repository.full_name, repository_path(@repository.to_param) %>.
      </p>
    <% end %>
  </div>
  <div class="col-sm-4">

  </div>
</div>
