<p class='list'>
  <strong><%= link_to platform_name(platform.term), search_path(platforms: platform.term, languages: @language, licenses: @license.try(:id), keywords: @keyword) %></strong>
  <small><%= pluralize number_to_human(platform['count']), 'project' %></small>
</p>
