<div class='platform col-xs-6 col-sm-4 col-md-4'>
  <h4>
    <div class="pictogram pictogram-<%= platform['key'].downcase %>"></div>
    <div class="blurb">
      <%= link_to platform_name(platform['key']), platform_path(platform['key'].downcase) %>
      <small><%= number_to_human platform['doc_count'] %> Packages</small>
    </div>
  </h4>
</div>
