<% title "Platforms - Libraries.io" %>
<% description "All the open source platforms that projects have been published to" %>
<h1>
  <%= fa_icon 'archive' %>
  Package Managers
</h1><hr>
<div class='row'>
  <div class="col-md-8">
    <div class="row">
      <%= render partial: 'platform', collection: @platforms %>
    </div>
  </div>
  <div class="col-md-4">

  </div>
</div>
