<% title "Platforms" %>
<% description "All the open source platforms that packages have been published to" %>
<h1>
  <%= fa_icon 'archive' %>
  Package Managers
</h1><hr>
<div class='row'>
  <div class="col-md-12">
    <div class="row">
      <%= render partial: 'platform', collection: @platforms %>
    </div>
  </div>
</div>
