<% title "Platforms - Libraries" %>
<% description "All the open source platforms that projects have been published to" %>
<h1>Platforms</h1><hr>
<div class='row'>
  <%= render partial: 'platform', collection: @platforms %>
</div>
