<%= render 'admin/nav' %>
<div class="row">
  <div class="col-md-10">
    <h1>Deprecated Repositories</h1>
    <%= page_entries_info @repositories %>
    <%= render @repositories %>
    <%= will_paginate @repositories, page_links: false %>
  </div>
</div>
