---
http_interactions:
- request:
    method: get
    uri: https://repo1.maven.org/maven2/org/glassfish/jaxb/jaxb-runtime/maven-metadata.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Etag:
      - '"acc3b9a4a0cf63f695885e66a0f28225"'
      Content-Type:
      - text/xml
      Last-Modified:
      - Thu, 07 Mar 2024 07:52:57 GMT
      X-Checksum-Md5:
      - acc3b9a4a0cf63f695885e66a0f28225
      X-Checksum-Sha1:
      - 6cf45f15673df3a8ebfad3538e35ef9b62c080b7
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <metadata modelVersion="1.1.0">
          <groupId>org.glassfish.jaxb</groupId>
          <artifactId>jaxb-runtime</artifactId>
          <versioning>
            <latest>4.0.5</latest>
            <release>4.0.5</release>
            <versions>
              <version>2.2.10-b140310.1920</version>
              <version>2.2.10-b140802.1033</version>
              <version>2.2.10</version>
              <version>2.2.11</version>
              <version>2.3.0-b170127.1453</version>
              <version>2.3.0</version>
              <version>2.3.0.1</version>
              <version>2.3.1</version>
              <version>2.3.2</version>
              <version>2.3.3-b01</version>
              <version>2.3.3-b02</version>
              <version>2.3.3</version>
  [...]
- request:
    method: get
    uri: https://repo1.maven.org/maven2/org/glassfish/jaxb/jaxb-runtime/4.0.5/jaxb-runtime-4.0.5.pom
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Etag:
      - '"c357b9e55b27ac4278f39fb8f2d7b3bd"'
      Content-Type:
      - text/xml
      Last-Modified:
      - Wed, 06 Mar 2024 06:01:04 GMT
      X-Checksum-Md5:
      - c357b9e55b27ac4278f39fb8f2d7b3bd
      X-Checksum-Sha1:
      - 80394a0adfafdbde3a42d6486d7d2c95cff92fe0
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <!--

            Copyright (c) 2013, 2023 Oracle and/or its affiliates. All rights reserved.

            This program and the accompanying materials are made available under the
            terms of the Eclipse Distribution License v. 1.0, which is available at
            http://www.eclipse.org/org/documents/edl-v10.php.

            SPDX-License-Identifier: BSD-3-Clause

        -->

        <project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                 xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">
            <modelVersion>4.0.0</modelVersion>

            <parent>
                <groupId>com.sun.xml.bind.mvn</groupId>
                <artifactId>jaxb-runtime-parent</artifactId>
                <version>4.0.5</version>
                <relativePath>../pom.xml</relativePath>
            </parent>

            <groupId>org.glassfish.jaxb</groupId>
            <artifactId>jaxb-runtime</artifactId>

            <packaging>jar</packaging>
            <name>JAXB Runtime</name>
            <description>JAXB (JSR 222) Reference Implementation</description>
            <url>https://eclipse-ee4j.github.io/jaxb-ri/</url>

            <properties>
                <spotbugs.exclude>${project.basedir}/exclude-runtime.xml</spotbugs.exclude>
                <argLine>
                    --add-opens org.glassfish.jaxb.runtime/org.glassfish.jaxb.runtime.unmarshaller=jakarta.xml.bind
                    --add-opens org.glassfish.jaxb.runtime/org.glassfish.jaxb.runtime.v2=jakarta.xml.bind
                    --add-opens org.glassfish.jaxb.runtime/org.glassfish.jaxb.runtime.v2.runtime=jakarta.xml.bind
                    --add-opens org.glassfish.jaxb.runtime/org.glassfish.jaxb.runtime.v2=org.glassfish.jaxb.core
                    --add-opens org.glassfish.jaxb.runtime/org.glassfish.jaxb.runtime.v2.schemagen=org.glassfish.jaxb.core
                    --add-opens java.base/java.lang=org.glassfish.jaxb.runtime
                    --add-opens java.base/java.lang.reflect=org.glassfish.jaxb.runtime
                    --add-opens org.glassfish.jaxb.runtime/org.glassfish.jaxb.runtime.v2.runtime.reflect.opt=org.glassfish.jaxb.core
                </argLine>
                <txwc2.sources>${project.build.directory}/generated-sources/txwc2</txwc2.sources>
            </properties>

            <dependencies>
                <dependency>
                    <groupId>${project.groupId}</groupId>
                    <artifactId>jaxb-core</artifactId>
                </dependency>

                <dependency>
                    <groupId>org.jvnet.staxex</groupId>
                    <artifactId>stax-ex</artifactId>
                    <optional>true</optional>
                </dependency>
                <dependency>
                    <groupId>com.sun.xml.fastinfoset</groupId>
                    <artifactId>FastInfoset</artifactId>
                    <optional>true</optional>
                </dependency>

                <dependency>
                    <groupId>junit</groupId>
                    <artifactId>junit</artifactId>
                    <scope>test</scope>
                </dependency>
            </dependencies>

            <build>
                <plugins>
                    <plugin>
                        <groupId>com.sun.istack</groupId>
                        <artifactId>istack-commons-maven-plugin</artifactId>
                        <executions>
                            <execution>
                                <id>quick-gen</id>
                                <phase>process-resources</phase>
                                <goals>
                                    <goal>quick-gen</goal>
                                </goals>
                                <configuration>
                                    <packageName>org.glassfish.jaxb.runtime.v2.model.annotation</packageName>
                                    <classes>
                                        <class>jakarta.xml.bind.annotation.*</class>
                                        <class>jakarta.xml.bind.annotation.adapters.*</class>
        <!--                                <class>jakarta.xml.bind.annotation.XmlAttribute</class>-->
        <!--                                <class>jakarta.xml.bind.annotation.XmlElement</class>-->
        <!--                                <class>jakarta.xml.bind.annotation.XmlElementDecl</class>-->
        <!--                                <class>jakarta.xml.bind.annotation.XmlElementRef</class>-->
        <!--                                <class>jakarta.xml.bind.annotation.XmlElementRefs</class>-->
        <!--                                <class>jakarta.xml.bind.annotation.XmlEnum</class>-->
        <!--                                <class>jakarta.xml.bind.annotation.XmlRootElement</class>-->
        <!--                                <class>jakarta.xml.bind.annotation.XmlSchema</class>-->
        <!--                                <class>jakarta.xml.bind.annotation.XmlSchemaType</class>-->
        <!--                                <class>jakarta.xml.bind.annotation.XmlTransient</class>-->
        <!--                                <class>jakarta.xml.bind.annotation.XmlType</class>-->
        <!--                                <class>jakarta.xml.bind.annotation.XmlValue</class>-->
                                    </classes>
                                    <license>${copyright.template}</license>
                                </configuration>
                            </execution>
                        </executions>
                    </plugin>
                    <plugin>
                        <groupId>org.apache.maven.plugins</groupId>
                        <artifactId>maven-antrun-plugin</artifactId>
                        <dependencies>
                            <dependency>
                                <groupId>org.glassfish.jaxb</gro[...]
- request:
    method: get
    uri: https://repo1.maven.org/maven2/com/sun/xml/bind/mvn/jaxb-runtime-parent/4.0.5/jaxb-runtime-parent-4.0.5.pom
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Etag:
      - '"ea6a9dd8725340045774816d333d0b22"'
      Content-Type:
      - text/xml
      Last-Modified:
      - Wed, 06 Mar 2024 06:01:30 GMT
      X-Checksum-Md5:
      - ea6a9dd8725340045774816d333d0b22
    [...]
- request:
    method: get
    uri: https://repo1.maven.org/maven2/com/sun/xml/bind/mvn/jaxb-parent/4.0.5/jaxb-parent-4.0.5.pom
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Etag:
      - '"ffa957b07d133e7561269a8dc8fd5372"'
      Content-Type:
      - text/xml
      Last-Modified:
      - Wed, 06 Mar 2024 06:01:30 GMT
      X-Checksum-Md5:
      - ffa957b07d133e7561269a8dc8fd5372
      X-Checksum-Sha[...]
- request:
    method: get
    uri: https://repo1.maven.org/maven2/com/sun/xml/bind/jaxb-bom-ext/4.0.5/jaxb-bom-ext-4.0.5.pom
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Etag:
      - '"a44f7a812bca4f068988f31fa6442d45"'
      Content-Type:
      - text/xml
      Last-Modified:
      - Wed, 06 Mar 2024 06:01:28 GMT
      X-Checksum-Md5:
      - a44f7a812bca4f068988f31fa6442d45
      X-Checksum-Sha1:[...]
- request:
    method: get
    uri: https://repo1.maven.org/maven2/org/glassfish/jaxb/jaxb-bom/4.0.5/jaxb-bom-4.0.5.pom
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Etag:
      - '"87faf48bd8f98bda1e36fae3b4ae854c"'
      Content-Type:
      - text/xml
      Last-Modified:
      - Wed, 06 Mar 2024 06:01:01 GMT
      X-Checksum-Md5:
      - 87faf48bd8f98bda1e36fae3b4ae854c
      X-Checksum-Sha1:
     [...]
- request:
    method: get
    uri: https://repo1.maven.org/maven2/org/glassfish/jaxb/jaxb-runtime/2.3.1/jaxb-runtime-2.3.1.pom
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Etag:
      - '"1cb582b3df01ba8710f501a6184b83c0"'
      Content-Type:
      - text/xml
      Last-Modified:
      - Wed, 12 Sep 2018 19:14:05 GMT
      X-Checksum-Md5:
      - 1cb582b3df01ba8710f501a6184b83c0
      X-Checksum-Sha1:
      - 1856da23a80b9b1374d925d6dcb4a21db2144204
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <!--

            DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.

            Copyright (c) 2013-2018 Oracle and/or its affiliates. All rights reserved.

            The contents of this file are subject to the terms of either the GNU
            General Public License Version 2 only ("GPL") or the Common Development
            and Distribution License("CDDL") (collectively, the "License").  You
            may not use this file except in compliance with the License.  You can
            obtain a copy of the License at
            https://oss.oracle.com/licenses/CDDL+GPL-1.1
            or LICENSE.txt.  See the License for the specific
            language governing permissions and limitations under the License.

            When distributing the software, include this License Header Notice in each
            file and include the License file at LICENSE.txt.

            GPL Classpath Exception:
            Oracle designates this particular file as subject to the "Classpath"
            exception as provided by Oracle in the GPL Version 2 section of the License
            file that accompanied this code.

            Modifications:
            If applicable, add the following below the License Header, with the fields
            enclosed by brackets [] replaced by your own identifying information:
            "Portions Copyright [year] [name of copyright owner]"

            Contributor(s):
            If you wish your version of this file to be governed by only the CDDL or
            only the GPL Version 2, indicate your decision by adding "[Contributor]
            elects to include this software in this distribution u[...]
[...]
