<% title = 'Issues' %>
<div class='row'>
  <div class='col-sm-12'>
    <h1>Issues</h1>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-8">
    <%= render @issues %>
    <%= will_paginate @issues, page_links: false %>
  </div>
  <div class="col-sm-4">

  </div>
</div>
