<div class="alert alert-info" role="alert">
  <h4 class="alert-heading">
    Want to use Libraries.io for Data-API capabilities?
  </h4>

  <p>
    API access is free to all registered users. All you need to do is create an account to
    get access to these capabilities! (It's free!)
  </p>

  <%= link_to "Create a login", login_path, class: "btn btn-info has-margin-top" %>
</div>
