---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/rails197.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: This rubygem could not be found.
  recorded_at: Fri, 12 May 2023 18:45:18 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/rails.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 13 Mar 2023 18:53:44 GMT
      X-Backend:
      - F_Rails 34.211.73.229:443
      Etag:
      - '"ad603b576042266c34153303824fe08d"'
    body:
      encoding: ASCII-8BIT
      string: '[{"authors":"David Heinemeier Hansson","built_at":"2023-03-13T00:00:00.000Z","created_at":"2023-03-13T18:53:43.517Z","description":"Ruby
        on Rails is a full-stack web framework optimized for programmer happiness
        and sustainable productivity. It encourages beautiful code by favoring convention
        over configuration.","downloads_count":2267681,"metadata":{"changelog_uri":"https://github.com/rails/rails/releases/tag/v7.0.4.3","bug_tracker_uri":"https://github.com/rails/rails/issues","source_code_uri":"https://github.com/rails/rails/tree/v7.0.4.3","mailing_list_uri":"https://discuss.rubyonrails.org/c/rubyonrails-talk","documentation_uri":"https://api.rubyonrails.org/v7.0.4.3/","rubygems_mfa_required":"true"},"number":"7.0.4.3","summary":"Full-stack
        web application framework.","platform":"ruby","rubygems_version":"\u003e=
        1.8.11","ruby_version":"\u003e= 2.7.0","prerelease":false,"licenses":["MIT"],"requirements":[],"sha":"5b675b237abb7328020002d06cc6c9003a09cde4b4774f989bfa440c6e93e2ed"},{"authors":"David
        Heinemeier Hansson","built_at":"2023-01-25T00:00:00.000Z","created_at":"2023-01-25T03:14:29.671Z","description":"Ruby
        on Rails is a full-stack web framework optimized for programmer happiness
        and sustainable productivity. It encourages beautiful code by favoring convention
        over configuration.","downloads_count":2048405,"metadata":{"changelog_uri":"https://github.com/rails/rails/r[...]
