---
http_interactions:
    - request:
          method: get
          uri: https://pre-commit.com/all-hooks.json
          body:
              encoding: US-ASCII
              string: ''
          headers:
      response:
          status:
              code: 200
              message: OK
          headers:
              Content-Type:
                  - application/json; charset=utf-8
              Last-Modified:
                  - Mon, 21 Dec 2020 08:50:52 GMT
              Etag:
                  - W/"5fe061ec-23901"
              X-Proxy-Cache:
                  - MISS
          body:
              encoding: ASCII-8BIT
              string: |-
                  {
                      "https://github.com/pre-commit/pre-commit-hooks": [
                          {
                              "id": "check-added-large-files",
                              "name": "Check for added large files",
                              "description": "Prevent giant files from being committed",
                              "entry": "check-added-large-files",
                              "language": "python"
                          },
                          {
                              "id": "check-ast",
                              "name": "Check python ast",
                              "description": "Simply check whether the files parse as valid python.",
                              "entry": "check-ast",
                              "language": "python",
                              "types": ["python"]
                          }
                      ],
                      "https://github.com/pre-commit/mirrors-autopep8": [
                          {
                              "id": "autopep8",
                              "name": "autopep8",
                              "entry": "autopep8",
                              "language": "python",
                              "types": ["python"],
                              "args": ["-i"],
                              "require_serial": false,
                              "additional_dependencies": []
                          }
                      ]
                  }
      recorded_at: Tue, 22 Dec 2020 19:18:40 GMT
recorded_with: VCR 4.0.0
