<div class='language col-xs-6 col-sm-4 col-md-4'>
  <h4>
    <div class="pictogram pictogram-<%= language['key'].downcase %>"></div>
    <div class="blurb">
      <%= link_to language['key'], language_path(language['key']) %>
      <small><%= number_to_human language['doc_count'] %> Packages</small>
    </div>
  </h4>
</div>
