<p class='list'>
  <strong><%= link_to language.term, search_path(languages: language.term, licenses: @license.try(:id), platforms: @platform_name) %></strong>
  <small><%= pluralize number_to_human(language['count']), 'project' %></small>
</p>
