<% title "Languages - Libraries" %>

<h1>Languages</h1><hr>
<div class='row'>
  <% @languages.each do |language| %>
  <div class='platform col-md-4'>
    <h3><%= link_to language.term, language_path(language.term) %></h3>
    <%= number_with_delimiter language['count'] %> Projects
  </div>
  <% end %>
</div>
