<% title "Languages" %>
<% description "All the programming languages that packages have been written in." %>
<h1>
  <%= fa_icon 'code' %>
  Languages
</h1>
<hr>
<div class='row'>
  <div class="col-md-8">
    <div class="row">
      <%= render partial: 'language', collection: @languages %>
    </div>
  </div>
  <div class="col-md-4">

  </div>
</div>
