<% title "Languages - Libraries" %>
<% description "All the programming languages that projects have been written in." %>
<h1>Languages</h1>
<hr>
<div class='row'>
  <%= render partial: 'language', collection: @languages %>
</div>
