body {
  font-family: sans-serif;
  font-size: 16px;
  color: #333;
  padding: 20px 50px;
}

body {
  padding: 60px 0 200px;
  background-color: #fafafa;
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 60px;
  background-color: #555;
  padding: 20px 0;
  color: #999;
}

a:hover {
  text-decoration: none;
}

.media-heading {
  line-height:1;
}

.facets{
  ul{
    padding-left: 0px;
  }
  li{
    list-style: none;
  }
}

.active {
  font-weight: bold;
}
.active:after {
   content: '✔';
   margin-left: 0.5em; margin-right: .100em;
}

.navbar{
  background: #222;
  border-width: 0 0 5px 0;
  border-bottom: 5px solid transparent;
}

.navbar-default .navbar-nav > li{
  a{
    color: #fff;
    &:hover{
      color: #aaa;
    }
  }
}

.navbar, footer{
  border-image: linear-gradient(90deg, #1abc9c 15%, #2ecc71 15%, #2ecc71 12%, #3498db 12%, #3498db 32%, #9b59b6 32%, #9b59b6 35%, #34495e 35%, #34495e 55%, #f1c40f 55%, #f1c40f 59%, #e67e22 59%, #e67e22 63%, #e74c3c 63%, #e74c3c 82%, #ecf0f1 82%, #ecf0f1 92%, #95a5a6 92%);
  border-image-slice: 1;
}

footer {
  border-top: 5px solid transparent;
  border-width: 5px 0 0 0;
  a{
    color: #ddd;
    &:hover{
      color: #fff;
    }
  }
}

.navbar-default .navbar-brand{
  color: #eee;
  font-size: 22px;
}



.jumbotron {
  background: none;
  padding-bottom:0;
  margin-bottom: 0;
}

h3,h4{
  color:#555;
  font-weight: normal;
  font-size: 20px;
  line-height: 46px;
  text-transform: uppercase;
}

.project{
  border-left: 3px solid;
  padding-left: 5px;
  h5{
    font-weight: bold;
    font-size: 16px;
    padding: 0;
    margin-bottom:4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  margin-bottom: 30px;
  small{
    color: #999;
    a {
      color: #777;
    }
  }
}

.search-form .form-control {
  font-size:30px;
  height: auto;
  width: 70%;
  margin: 20px 0;
}

.list, .facets {
  small{
    color: #999;
    margin-left: 5px;
  }
}

#readme{
  overflow: hidden;
  .markdown-body {
    word-break: break-word;
  }
}

.row {
  margin-bottom: 5px;
}

.hidden {
  display: none;
}
