---
http_interactions:
- request:
    method: get
    uri: https://api.nuget.org/v3/registration5-gz-semver2/microsoft.entityframeworkcore.sqlserver/index.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Md5:
      - Zn21lK8UEuzu4UYArLkP6g==
      Content-Type:
      - application/json
      Etag:
      - '0x8DBB3946DB66309'
      Last-Modified:
      - Tue, 12 Sep 2023 13:30:28 GMT
      X-Cdn-Rewrite:
      - Root path in dist
      X-Ms-Blob-Type:
      - BlockBlob
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Version:
      - '2009-09-19'
    body:
      encoding: ASCII-8BIT
      string: '{"@id":"https://api.nuget.org/v3/registration5-gz-semver2/microsoft.entityframeworkcore.sqlserver/index.json","@type":["catalog:CatalogRoot","PackageRegistration","catalog:Permalink"],"commitId":"e0338bd0-3eb2-4c2c-9b90-2847b7b1bf33","commitTimeStamp":"2023-09-12T13:30:02.8616541+00:00","count":3,"items":[{"@id":"https://api.nuget.org/v3/registration5-gz-semver2/microsoft.entityframeworkcore.sqlserver/page/0.0.1-alpha/3.1.3.json","@type":"catalog:CatalogPage","commitId":"5cdff422-9cf6-4547-a93c-ab3b765d6ffc","commitTimeStamp":"2023-05-04T03:34:40.8884824+00:00","count":64,"lower":"0.0.1-alpha","upper":"3.1.3"},{"@id":"https://api.nuget.org/v3/registration5-gz-semver2/microsoft.entityframeworkcore.sqlserver/page/3.1.4/6.0.0-preview.7.21378.4.json","@type":"catalog:CatalogPage","commitId":"83b63951-2805-40b5-b9da-209c39e01f98","commitTimeStamp":"2023-05-06T04:06:38.9847823+00:00","count":64,"lower":"3.1.4","upper":"6.0.0-preview.7.21378.4"},{"@id":"https://api.nuget.org/v3/registration5-gz-semver2/microsoft.entityframeworkcore.sqlserver/page/6.0.0-rc.1.21452.10/8.0.0-rc.1.23419.6.json","@type":"catalog:CatalogPage","commitId":"e0338bd0-3eb2-4c2c-9b90-2847b7b1bf33","commitTimeStamp":"2023-09-12T13:30:02.8616541+00:00","count":52,"lower":"6.0.0-rc.1.21452.10","upper":"8.0.0-rc.1.23419.6"}],"@context":{"@vocab":"http://schema.nuget.org/schema#","catalog":"http://schema.nuget.org/catalog#","xsd":"http://www.w3.org/2001/XMLSchema#","items":{"@id":"catalog:item","@container":"@set"},"commitTimeStamp":{"@id":"catalog:commitTimeStamp","@type":"xsd:dateTime"},"commitId":{"@id":"catalog:commitId"},"count":{"@id":"catalog:count"},"parent":{"@id":"catalog:parent","@type":"@id"},"tags":{"@id":"tag","@container":"@set"},"reasons":{"@container":"@set"},"packageTargetFrameworks":{"@id":"packageTargetFramework","@container":"@set"},"dependencyGroups":{"@id":"dependencyGroup","@container":"@set"},"dependencies":{"@id":"dependency","@container":"@set"},"packageContent":{"@type":"@id"},"published":{"@type":"xsd:dateTime"},"registration":{"@type":"@id"}}}'
      vcr_decompressed: gzip
  recorded_at: Thu, 28 Sep 2023 20:47:20 GMT
- request:
    method: get
    uri: https://api.nuget.org/v3/registration5-gz-semver2/microsoft.entityframeworkcore.sqlserver/page/0.0.1-alpha/3.1.3.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Md5:
      - Gk6dr2l06AbhYj29wtbfsg==
      Content-Type:
      - application/json
      Etag:
      - '0x8DB4C507EBF934B'
      Last-Modified:
      - Thu, 04 May 2023 03:34:41 GMT
      X-Cdn-Rewrite:
      - Root path in dist
      X-Ms-Blob-Type:
      - BlockBlob
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Version:
      - '2009-09-19'
    body:
      encoding: ASCII-8BIT
      string: '{"@id":"https://api.nuget.org/v3/registration5-gz-semver2/microsoft.entityframeworkcore.sqlserver/page/0.0.1-alpha/3.1.3.json","@type":"catalog:CatalogPage","commitId":"5cdff422-9cf6-4547-a93c-ab3b765d6ffc","commitTimeStamp":"2023-05-04T03:34:40.8884824+00:00","count":64,"items":[{"@id":"https://api.nuget.org/v3/registration5-gz-semver2/microsoft.entityframeworkcore.sqlserver/0.0.1-alpha.json","@type":"Package","commitId":"e9365f4c-6db3-44c7-9f99-40606ff63c29","commitTimeStamp":"2020-02-08T00:46:23.5007504+00:00","catalogEntry":{"@id":"https://api.nuget.org/v3/catalog0/data/2018.10.05.11.23.15/microsoft.entityframeworkcore.sqlserver.0.0.1-alpha.json","@type":"PackageDetails","authors":"aspnet","description":"Microsoft.EntityFrameworkCore.SqlServer","iconUrl":"https://api.nuget.org/v3-flatcontainer/microsoft.entityframeworkcore.sqlserver/0.0.1-alpha/icon","id":"Microsoft.EntityFrameworkCore.SqlServer","language":"","licenseExpression":"","licenseUrl":"http://www.microsoft.com/web/webpi/eula/net_library_eula_enu.htm","listed":false,"minClientVersion":"","packageContent":"https://api.nuget.org/v3-flatcontainer/microsoft.entityframeworkcore.sqlserver/0.0.1-alpha/microsoft.entityframeworkcore.sqlserver.0.0.1-alpha.nupkg","projectUrl":"http://www.asp.net/","published":"1900-01-01T00:00:00+00:00","requireLicenseAcceptance":true,"summary":"","tags":[""],"title":"","version":"0.0.1-alpha"},"packageContent":"https://api.nuget.org/v3-flatcontainer/microsoft.entityframeworkcore.sqlserver/0.0.1-alpha/microsoft.entityframeworkcore.sqlserver.0.0.1-alpha.nupkg","registration":"https://api.nuget.org/v3/registration5-gz-semver2/microsoft.entityframeworkcore.sqlserver/index.json"},{"@id":"https://api.nuget.org/v3/registration5-gz-semver2/microsoft.entityframeworkcore.sqlserver/1.0.0-rc2-final.json","@type":"Package","commitId":"fa5295fb-7ee1-4bd0-878f-bbccb08d6e3c","commitTimeStamp":"2022-06-23T07:58:08.3195568+00:00","catalogEntry":{"@id":"https://api.nuget.org/v3/catalog0/data/2022.06.23.07.57.20/microsoft.entityframeworkcore.sqlserver.1.0.0-rc2-final.json","@type":"PackageDetails","authors":"Microsoft.EntityFrameworkCore.SqlServer","dependencyGroups":[{"@id":"https://api.nuget.org/v3/catalog0/data/2022.06.23.07.57.20/microsoft.entityframeworkcore.sqlserver.1.0.0-rc2-final.json#dependencygroup/.netframework4.5.1","@type":"PackageDependencyGroup","dependencies":[{"@id":"https://api.nuget.org/v3/catalog0/data/2022.06.23.07.57.20/microsoft.entityframeworkcore.sqlserver.1.0.0-rc2-final.json#dependencygroup/.netframework4.5.1/microsoft.entityframeworkcore.relational","@type":"PackageDependency","id":"Microsoft.EntityFrameworkCore.Relational","range":"[1.0.0-rc2-final,
        )","registration":"https://api.nuget.org/v3/registration5-gz-semver2/microsoft.entityframeworkcore.relational/index.json"}],"targetFramework":".NETFramework4.5.1"},{"@id":"https://api.nuget.org/v3/catalog0/data/2022.06.23.07.57.20/microsoft.entityframeworkcore.sqlserver.1.0.0-rc2-final.json#dependencygroup/.netstandard1.3","@type":"PackageDependencyGroup","dependencies":[{"@id":"https://api.nuget.org/v3/catalog0/data/2022.06.23.07.57.20/microsoft.entityframeworkcore.sqlserver.1.0.0-rc2-final.json#dependencygroup/.netstandard1.3/system.data.sqlclient","@type":"PackageDependency","id":"System.Data.SqlClient","range":"[4.1.0-rc2-24027,
        )","registration":"https://api.nuget.org/v3/registration5-gz-semver2/system.data.sqlclient/index.json"},{"@id":"https://api.nuget.org/v3/catalog0/data/2022.06.23.07.57.20/microsoft.entityframeworkcore.sqlserver.1.0.0-rc2-final.json#dependencygroup/.netstandard1.3/system.threading.thread","@type":"PackageDependency","id":"System.Threading.Thread","range":"[4.0.0-rc2-24027,
        )","registration":"https://api.nuget.org/v3/registration5-gz-semver2/system.threading.thread/index.json"},{"@id":"https://api.nuget.org/v3/catalog0/data/2022.06.23.07.57.20/microsoft.entityframeworkcore.sqlserver.1.0.0-rc2-final.json#dependencygroup/.netstandard1.3/microsoft.entityframeworkcore.relational","@type":"PackageDependency","id":"Microsoft.EntityFrameworkCore.Relational","range":"[1.0.0-rc2-final,
        )","registration":"https://api.nuget.org/v3/registration5-gz-semver2/microsoft.entityframeworkcore.relational/index.json"}],"targetFramework":".NETStandard1.3"}],"deprecation":{"@id":"https://api.nuget.org/v3/catalog0/data/2022.06.23.07.57.20/microsoft.entityframeworkcore.sqlserver.1.0.0-rc2-final.json#deprecation","@type":"deprecation","message":"This
        package has been deprecated as part of the .NET Package Deprecation effort.
        You can learn more about it from https://github.com/dotnet/announcements/issues/217","reasons":["Other","Legacy"]},"description":"Microsoft
        SQL Server data store for Entity Framework.","iconUrl":"https://api.nuget.org/v3-[...]
- request:
    method: get
    uri: https://api.nuget.org/v3/registration5-gz-semver2/microsoft.entityframeworkcore.sqlserver/page/3.1.4/6.0.0-preview.7.21378.4.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Md5:
      - sdRodP2QBag4bNf6iTTnZQ==
      Content-Type:
      - application/json
      Etag:
      - '0x8DB4DE74AD30E62'
      Last-Modified:
      - Sat, 06 May 2023 04:06:39 GMT
  [...]
- request:
    method: get
    uri: https://api.nuget.org/v3/registration5-gz-semver2/microsoft.entityframeworkcore.sqlserver/page/6.0.0-rc.1.21452.10/8.0.0-rc.1.23419.6.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Md5:
      - l99vH6EJd/d4kcX5LSb0Ag==
      Content-Type:
      - application/json
      Etag:
      - '0x8DBB3946BF9B1CC'
      Last-Modified:
      - Tue, 12 Sep 2023 13:30:[...]
