---
http_interactions:
- request:
    method: get
    uri: https://api.nuget.org/v3/registration5-gz-semver2/newtonsoft.json/index.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Md5:
      - kK5oyUfRie2xn1bBgXi1tg==
      Content-Type:
      - application/json
      Etag:
      - '0x8DB3B15753CD1FF'
      Last-Modified:
      - Wed, 12 Apr 2023 05:19:15 GMT
      X-Cdn-Rewrite:
      - Root path in dist
      X-Ms-Blob-Type:
      - BlockBlob
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Version:
      - '2009-09-19'
    body:
      encoding: ASCII-8BIT
      string: '{"@id":"https://api.nuget.org/v3/registration5-gz-semver2/newtonsoft.json/index.json","@type":["catalog:CatalogRoot","PackageRegistration","catalog:Permalink"],"commitId":"5ee02ce6-ebb4-4082-a53e-970ae44706fe","commitTimeStamp":"2023-04-12T05:19:09.2263596+00:00","count":2,"items":[{"@id":"https://api.nuget.org/v3/registration5-gz-semver2/newtonsoft.json/index.json#page/3.5.8/12.0.1-beta2","@type":"catalog:CatalogPage","commitId":"5ee02ce6-ebb4-4082-a53e-970ae44706fe","commitTimeStamp":"2023-04-12T05:19:09.2263596+00:00","count":64,"items":[{"@id":"https://api.nuget.org/v3/registration5-gz-semver2/newtonsoft.json/3.5.8.json","@type":"Package","commitId":"29803214-bbd1-4347-bdbf-bc4906742ca2","commitTimeStamp":"2022-12-08T16:44:02.0217374+00:00","catalogEntry":{"@id":"https://api.nuget.org/v3/catalog0/data/2022.12.08.16.43.03/newtonsoft.json.3.5.8.json","@type":"PackageDetails","authors":"James
        Newton-King","description":"Json.NET is a popular high-performance JSON framework
        for .NET","iconUrl":"","id":"Newtonsoft.Json","language":"en-US","licenseExpression":"","licenseUrl":"","listed":true,"minClientVersion":"","packageContent":"https://api.nuget.org/v3-flatcontainer/newtonsoft.json/3.5.8/newtonsoft.json.3.5.8.nupkg","projectUrl":"","published":"2011-01-08T22:12:57.713+00:00","requireLicenseAcceptance":false,"summary":"Json.NET
        is a popular high-performance JSON framework for .NET","tags":[""],"title":"","version":"3.5.8","vulnerabilities":[{"advisoryUrl":"https://github.com/advisories/GHSA-5crp-9r3c-p9vr","severity":"2"}]},"packageContent":"https://api.nuget.org/v3-flatcontainer/newtonsoft.json/3.5.8/newtonsoft.json.3.5.8.nupkg","registration":"https://api.nuget.org/v3/registration5-gz-semver2/newtonsoft.json/index.json"},{"@id":"https://api.nuget.org/v3/registration5-gz-semver2/newtonsoft.json/4.0.1.json","@type":"Package","commitId":"29803214-bbd1-4347-bdbf-bc4906742ca2","commitTimeStamp":"2022-12-08T16:44:02.0217374+00:00","catalogEntry":{"@id":"https://api.nuget.org/v3/catalog0/data/2022.12.08.16.43.03/newtonsoft.json.4.0.1.json","@type":"PackageDetails","authors":"James
        Newton-King","description":"Json.NET is a popular hi[...]
