---
http_interactions:
- request:
    method: get
    uri: https://pub.dartlang.org/api/packages/tecfy_corev2_package
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset="utf-8"
      X-Appengine-Flex-Applatency:
      - '0.003'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"tecfy_corev2_package","latest":{"version":"1.1.163","pubspec":{"name":"tecfy_corev2_package","description":"TecfyCode
        package is a Flutter client version for Tecfy Core platform built for Tecfy
        Company projects","version":"1.1.163","homepage":"https://www.tecfy.co","environment":{"sdk":">=2.18.0
        <4.0.0"},"dependencies":{"bot_toast":"^4.0.3","cached_network_image":"^3.3.0","date_time_picker":"^2.1.0","dropdown_button2":"^2.1.2","flutter_markdown":null,"syncfusion_flutter_core":null,"excel":"^2.1.0","expressions":"^0.2.5","file_picker":"^6.1.1","file_saver":"^0.2.8","firebase_core":"^2.12.0","firebase_messaging":"^14.6.0","fl_chart":"^0.62.0","flowder_ex":"^0.2.2","flutter":{"sdk":"flutter"},"flutter_localizations":{"sdk":"flutter"},"tecfy_basic_package":"^1.5.18","math_expressions":"^2.4.0","web_socket_channel":"^2.4.0","flutter_slidable":"^3.0.0","localstorage":"^4.0.1+2","path":"^1.8.3","path_provider":"^2.0.15","pull_to_refresh":"^2.0.0","soundpool":"^2.3.0","soundpool_web":"^2.2.0","flutter_staggered_animations":"^1.1.1","flutter_material_color_picker":"^1.1.0+2","flutter_svg":"^2.0.10+1","flutter_widget_from_html":"^0.14.9","google_maps_flutter":"^2.2.6","google_maps_flutter_web":"^0.4.0+8","http":"^0.13.6","image_picker":"1.0.5","intl":"^0.18.1","location":"^4.4.0","markdown_editable_textinput":"^2.2.0","pdf":"^3.10.3","permission_handler":"^10.2.0","photo_view":"^0.14.0","pinch_zoom":"^1.0.0","printing":"^5.10.4","restart_app":"^1.2.1","share_plus":"^7.1.0","shared_preferences_web":"^2.1.0","syncfusion_flutter_datagrid":"^24.2.9","syncfusion_flutter_pdfviewer":null,"universal_html":"^2.2.1","url_launcher":"^6.1.11","url_launcher_web":"^2.0.16","uuid":null},"dependency_overrides":{"qr":"^3.0.1","path":"^1.8.3","intl":"^0.18.1","xml":"^6.3.0","meta":"^1.9.0","http":"^0.13.6","visibility_detector":"^0.4.0+2","file_picker":"^6.1.1"},"flutter":{"assets":["assets/images/","assets/icons/","assets/sound/","assets/fonts/","assets/fonts/cairo/"],"fonts":[{"family":"STC-Regular","fonts":[{"asset":"assets/fonts/STC-Regular.ttf"}]},{"family":"Cairo","fonts":[{"asset":"assets/fonts/cairo/Cairo-Black.ttf","weight":900},{"asset":"assets/fonts/cairo/Cairo-ExtraBold.ttf","weight":800},{"asset":"assets/fonts/cairo/Cairo-Bold.ttf","weight":700},{"asset":"assets/fonts/cairo/Cairo-SemiBold.ttf","weight":600},{"asset":"assets/fonts/cairo/Cairo-Medium.ttf","weight":500},{"asset":"assets/fonts/cairo/Cairo-Regular.ttf","weight":400},{"asset":"assets/fonts/cairo/Cairo-Light.ttf","weight":300},{"asset":"assets/fonts/cairo/Cairo-ExtraLight.ttf","weight":200}]}]},"flutter_assets":{"assets_path":"assets/icons/","output_path":"lib/utils/","filename":"package_icons.dart","field_prefix":null}},"archive_url":"https://pub.dev/api/archives/tecfy_corev2_package-1.1.163.tar.gz","archive_sha256":"a2de1b856de4d755e25f55494a99be3ac793eb888ce4575226ae32833281f94d","published":"2024-10-02T14:44:24.415105Z"},"versions":[{"version":"1.0.1","pubspec":{"name":"tecfy_corev2_package","description":"TecfyCode
        package is a Flutter client version for Tecfy Core platform built for Tecfy
        Company projects","version":"1.0.1","homepage":"https://www.tecfy.co","environment":{"sdk":">=2.12.0
        <3.0.0"},"dependencies":{"flutter":{"sdk":"flutter"},"flutter_localizations":{"sdk":"flutter"},"tecfy_basic_package":"^1.1.11","intl":"^0.17.0","uuid":"^3.0.6","expressions":"^0.2.4","math_expressions":"^2.3.1","web_socket_channel":"^2.2.0","flutter_slidable":"^1.3.0","localstorage":"^4.0.0+1","path":"^1.8.1","path_provider":"^2.0.11","pull_to_refresh":"^2.0.0","fl_chart":"^0.55.1","soundpool":"^2.3.0","soundpool_web":"^2.2.0","flutter_staggered_animations":"^1.1.1","flutter_material_color_picker":"^1.1.0+2","google_maps_flutter":"^2.1.12","google_maps_flutter_web":"^0.4.0+2","http":"^0.13.5","pdf":"^3.8.3","printing":"^5.9.2","ai_barcode":"^3.2.4","permission_handler":"^9.2.0","bot_toast":"^4.0.3","url_launcher":"^6.1.5","url_launcher_web":"^2.0.13","image_picker_for_web":"^2.1.8","shared_preferences_web":"^2.0.4","date_time_picker":"^2.1.0","firebase_core":"^1.21.0","firebase_messaging":"^12.0.3","universal_html":"^2.0.8"},"dev_dependencies":null,"flutter":{"assets":["assets/images/tecfy_icon.png"]}},"archive_url":"https://pub.dev/api/archives/tecfy_corev2_package-1.0.1.tar.gz","archive_sha256":"d66c92053b84a6176e9c69e13d0dd77ae4c13e8e9f627c157dbfded6483d1ab3","published":"2022-10-10T11:20:11.555704Z"},{"version":"1.0.2","pubspec":{"name":"tecfy_corev2_package","description":"TecfyCode
        package is a Flutter client version for Tecfy Core platform built for Tecfy
        Company projects","version":"1.0.2","homepage":"https://w[...]
