<h3>
  <strong>Contact us</strong>
</h3>
<p>
  Got a question or request for Libraries? Open an <%= link_to 'issue on GitHub', 'https://github.com/librariesio/libraries.io/issues' %> or email <%= mail_to 'support@libraries.io', 'support@libraries.io' %>
</p>
