<p>Latest release: <strong>1.0.1 - 21 July, 2017</strong></p>

<p>Download an archive of seven csv files from zenodo:</p>

<table class='table table-bordered table-hover'>
  <thead>
    <tr>
      <th>
        File name and digest
      </th>
      <th>
        Archive Size
      </th>
      <th>
        Number of rows
      </th>
      <th>Download link</th>
    </tr>
  </thead>
    <tr>
      <td>
        <strong>
          Libraries.io-open-data-1.0.1.zip
        </strong>
        <br><small class='text-muted'>MD5: e73506370d920431cea1ed95c19338b5</small>
      </td>
      <td>
        5.9GB
      </td>
      <td>200 million</td>
      <td>
        <a href="https://zenodo.org/record/833207/files/Libraries.io-open-data-1.0.1.zip" class='btn btn-primary'>Download</a>
      </td>
    </tr>
</table>
