<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Projects
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <p>
          Projects are Libraries.io's definition of a package available from one of the 33 Package Managers
          that it supports.
        </p>
        <h4>Fields</h4>
        <ul>
          <li>
            <p>
              <strong>Platform</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Name</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Created Timestamp</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Updated Timestamp</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Description</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Keywords</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Homepage URL</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Licenses</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Repository URL</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Versions Count</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>SourceRank</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Latest Release Publish Timestamp</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Latest Release Number</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Package Manager ID</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Dependent Projects Count</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Language</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Status</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Last synced Timestamp</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Dependent Repositories Count</strong> -
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Versions
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <p>
          Versions are Libraries.io's definition of an imutable published version of a Project from a package manager.
          Not all package managers have a concept of publishing versions, often relying directly on tags/branches from
          from a source control.
        </p>
        <h4>Fields</h4>
        <ul>
          <li>
            <p>
              <strong>Platform</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Project Name</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Number</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Published Timestamp</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Created Timestamp</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Updated Timestamp</strong> -
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Dependencies
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <p>
          Dependencies belong to versions of a project, each version can have different sets of dependencies with different versions.
          Dependencies point at a specific version or range of versions of other projects, the resolution of that project version changes
          over time as new versions are published and dependent on the specifics of the platform.
        </p>
        <p>
          Almost all package managers dependencies will be from the same package manager, the only exception is Atom, which pulls it's
          dependencies from the NPM package manager, hence the extra `Dependency Platform` field.
        </p>
        <h4>Fields</h4>
        <ul>
          <li>
            <p>
              <strong>Platform</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Project Name</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Verion Number</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Dependency Name</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Dependency Platform</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Dependency Kind</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Optional Dependency</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Dependency Requirements</strong> -
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingfour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
          Repositories
        </a>
      </h4>
    </div>
    <div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour">
      <div class="panel-body">
        <p>
          A repository is a publically accessible source code repository from either github.com, gitlab.com or bitbucket.org
        </p>
        <h4>Fields</h4>
        <ul>
          <li>
            <p>
              <strong>Host Type</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Name with Owner</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Description</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Fork?</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Created Timestamp</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Updated Timestamp</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Last pushed Timestamp</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Homepage URL</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Size</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Stars Count</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Language</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Issues enabled?</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Wiki enabled?</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Pages enabled?</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Forks Count</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Mirror URL</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Open Issues Count</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Default branch</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Watchers Count</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>UUID</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Fork Source Name with Owner</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>License</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Contributors Count</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Readme filename</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Changelog filename</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Contributing guidelines filename</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>License filename</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Code of Conduct filename</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Security Threat Model filename</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Security Audit filename</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Status</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Last Synced Timestamp</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>SourceRank</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Display Name</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>SCM type</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Fork policy</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Pull requests enabled?</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Logo URL</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Keywords</strong> -
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Tags
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
        <p>
          A Libraries.io tag is equivelant to a tag in git or other source control systems.
        </p>
        <h4>Fields</h4>
        <ul>
          <li>
            <p>
              <strong>Host Type</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Repository Name with Owner</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Tag Name</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Tag git sha</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Tag kind</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Tag Published Timestamp</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Tag Created Timestamp</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Tag Updated Timestamp</strong> -
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Repository Dependencies
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">
        <p>
          A repository dependency is where a dependency on a Project from a package manager has been specified
          in a manifest file, either as a manually added dependency commited by a user or listed as a generated
          dependency listed in a lockfile that has been automatically generated by a package manager and commited.
        </p>
        <h4>Fields</h4>
        <ul>
          <li>
            <p>
              <strong>Host Type</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Repository Name with Owner</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Manifest Platform</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Manifest Filepath</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Git branch</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Manifest kind</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Optional?</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Dependency Project Name</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Dependency Requirements</strong> -
            </p>
          </li>
          <li>
            <p>
              <strong>Dependency Kind</strong> -
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
