<p>Latest release: <strong>1.0.0 - 15 June, 2017</strong></p>

<p>Download an archive of seven csv files from zenodo:</p>

<table class='table table-bordered table-hover'>
  <thead>
    <tr>
      <th>
        File name and digest
      </th>
      <th>
        Archive Size
      </th>
      <th>
        Number of rows
      </th>
      <th>Download link</th>
    </tr>
  </thead>
    <tr>
      <td>
        <strong>
          Libraries.io-open-data-1.0.0.zip
        </strong>
        <br><small class='text-muted'>MD5: be8015f7e70481da6b43af63372be626</small>
      </td>
      <td>
        5.9GB
      </td>
      <td>200 million</td>
      <td>
        <a href="https://zenodo.org/record/808273/files/Libraries.io-open-data-1.0.0.zip" class='btn btn-primary'>Download</a>
      </td>
    </tr>
</table>
