<dl class='row'>
    <dt class='col-xs-6'>Next</dt>
    <dd class='col-xs-6'>March 2018</dd>
    <dt class='col-xs-6'>Latest</dt>
    <dd class='col-xs-6'>
      <a href="https://zenodo.org/record/1068916">1.1.1</a> - 30 Nov, 2017
    </dd>
    <dt class='col-xs-6'>Previous</dt>
    <dd class='col-xs-6'>
      <a href="https://zenodo.org/record/833207">1.0.1</a> - 21 July, 2017
    </dd>
</dl>
