<dl class='row'>
    <dt class='col-xs-6'>Latest</dt>
    <dd class='col-xs-6'>
      <a href="https://zenodo.org/record/3626071">1.6.0</a> - 12 Jan, 2020
    </dd>
    <dt class='col-xs-6'>Previous</dt>
    <dd class='col-xs-6'>
      <a href="https://zenodo.org/record/2536573">1.4.0</a> - 22 Dec, 2018
    </dd>
</dl>
