<dl class='row'>
    <dt class='col-xs-6'>Next</dt>
    <dd class='col-xs-6'>August 2017</dd>
    <dt class='col-xs-6'>Latest</dt>
    <dd class='col-xs-6'>
      <a href="https://zenodo.org/record/833207">1.0.1</a> - 21 July, 2017
    </dd>
    <dt class='col-xs-6'>Previous</dt>
    <dd class='col-xs-6'>
      <a href="https://zenodo.org/record/808273">1.0.0</a> - 15 June, 2017
    </dd>
</dl>