<h3>
  <strong>Who built this?</strong>
</h3>
Libraries.io is an inclusive <%= link_to 'community of people', team_path %> working together <a href="https://github.com/librariesio/documentation#readme">openly.</a>