<% title 'About - Libraries' %>
<div class="row">
  <div class="col-sm-8">
   <h1>Package Manager Compatibility Matrix</h1>
   <h3>Look out baby 'cuz here I come.</h3>
    <p>
      Package managers have various features that mean supporting them is more nuanced than a simple yes or no. This table shows exactly what is supported for each package manager:
    </p>
    <div class="col-md-12">
      <% cache("matrix:v1.4", :expires_in => 1.day) do  %>
        <%= render 'matrix' %>
      <% end %>
    </div>
    <h3><strong>What About Package Manager X?</strong></h3>
    <p>
      Some package managers require compilation before parsing their dependencies, some we simply haven't got around to yet. Luckily Libraries.io is an open source project so if you need to add a new package manager then you can. You can find everything you need to get started in <a href='https://docs.libraries.io' target='_blank'>our documentation</a>.
    </p>
  </div>
  <div class="col-sm-4">

  </div>
</div>
