<% title 'Open Data Documentation - Libraries.io' %>
<div class="row">
  <div class="col-md-12">
    <h1>
      <%= fa_icon 'database' %>
      Libraries.io Data - Documentation
    </h1>
    <br>
    <p>
      Libraries.io's data is organised into six packages:
    </p>
    <%= render 'open_data_documentation' %>
  </div>
</div>
