<% title 'Privacy Policy' %>
<div class="row">
  <div class="col-sm-8">
    <h1>Privacy Policy</h1>

    <p>This Privacy Policy explains and governs how data gathered by, and submitted to, libraries.io is used and processed.</p>
    
    <h2 id="we-care-about-your-privacy">We Care About Your Privacy</h2>
    
    <p>We aim to respect your privacy. At the same time, it is necessary for us to store and process some data so that:</p>
    
    <ul>
      <li><p>you can use the service effectively; and</p></li>
      <li><p>we can improve the services you use.</p></li>
    </ul>
    
    <p>This policy explains what information we collect, what we do with it, and how we do it. It also describes your choices regarding use, access and correction of your personal information.</p>
    
    <h2 id="information-we-collect-and-use">Information We Collect and Use</h2>
    
    <h3 id="information-from-website-users">Information From Website Users</h3>
    
    <p>Certain visitors to Libraries.io choose to interact with our services in ways that require us to gather personally-identifying information. The amount and type of information that we gather depends on the nature of the interaction.</p>
    
    <p>For example, we ask visitors who want to receive updates from us to provide an email address for that purpose.</p>
    
    <p>Similarly, visitors who engage in transactions with Libraries.io – by purchasing our services, for example – may be asked to provide additional information, including as necessary the personal and financial information required to process those transactions.</p>
    
    <p>Other types of information we may collect include:</p>
    
    <ul>
      <li><p>Contact information, such as name, email address, mailing address, or phone number;</p></li>
      <li><p>Unique identifiers for other services, such as usernames and account information for GitHub;</p></li>
      <li><p>Information about your business, such as company name, company size, business type.</p></li>
    </ul>
    
    <p>In each case, Libraries.io collects such information only insofar as is necessary or appropriate to fulfill the purpose of the visitor’s interaction with Libraries.io. Libraries.io does not disclose personally-identifying information other than as described below under “Uses and Sharing of Your Data”.</p>
    
    <p>You can always refuse to supply personally-identifying information, but it may prevent you from using certain Libraries.io features.</p>
    
    <h3 id="information-collected-from-other-sources">Information Collected from Other Sources</h3>
    
    <p>With your authorization, and to provide you with better services, we may also obtain information about you from other sources. For example, if you create or log into your account through GitHub, we may receive information from that service (such as your username, basic profile information, and repository list). The information we receive depends on which services you authorize and any options that are available.</p>
    
    <h3 id="cookies-and-other-tracking-of-website-visitors">Cookies and other Tracking of Website Visitors</h3>
    
    <p>In order to help continuously improve our service, we use cookies or similar technologies to analyze trends, administer the website, track how people use the website, and to gather demographic information about our user base as a whole. You can control the use of cookies at the individual browser level, but if you choose to disable cookies, it may limit your use of certain features or functions on our website or service.</p>
    
    <p>As is true of most websites, we also gather certain information automatically. This information may include Internet protocol (IP) addresses, browser type, Internet service provider (ISP), referring/exit pages, the files viewed on our site (e.g., HTML pages, graphics, etc.), operating system, and tracking of specific behavior on the site. Where this information is personally identifying, we do not disclose it information other than as described below under “Uses and Sharing of Your Data”.</p>
    
    <p>You can opt out of interest-based advertising <a href="http://www.networkadvertising.org/managing/opt_out.asp"><em>here</em></a>, out of Google Analytics <a href="https://tools.google.com/dlpage/gaoptout">here</a>, or if you live in the European Union <a href="http://www.youronlinechoices.eu/"><em>here</em></a>.</p>
    
    <h2 id="uses-and-sharing-of-your-data">Uses and Sharing of Your Data</h2>
    
    <h3 id="communication">Communication</h3>
    <p>If you have supplied your email address to Libraries.io, we may occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to date with what’s going on with Libraries.io and our products.</p>
    <p>If you send us a request (for example via a support email or via other feedback mechanisms), we reserve the right to record or publish the content of that request in order to help us clarify or respond to your request or to help us support other users.</p>
    
    <h3 id="operation-of-the-service">Operation of the Service</h3>
    
    <p>To provide services to you and our other users, we may share your information with third parties who provide services on our behalf. These companies are not authorized to use your personal information except as needed to provide these services to us.</p>
    
    <p>These services may include:</p>
    
    <ul>
      <li><p>Sending marketing communications</p></li>
      <li><p>Fulfilling subscription services</p></li>
      <li><p>Conducting research and analysis</p></li>
    </ul>
    
    <p>We may also aggregate, use internally, and release publicly non-personally-identifying information. For example, we may develop and publish reports on website usage based on this data.</p>
    
    <h3 id="legal-compliance">Legal Compliance</h3>
    
    <p>In certain situations, we may be required to disclose personal data in response to lawful requests by public authorities, including meeting national security or law enforcement requirements.</p>
    
    <p>We may also disclose your personal information as required by law, such as to comply with a subpoena or other legal process, when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request.</p>
    
    <h3 id="business-transfers">Business Transfers</h3>
    
    <p>Libraries.io is in the process of being acquired by Tidelift, Inc. By opting-in to use of the site, you permit Libraries.io to transfer your information to Tidelift, Inc. at the completion of the acquisition, and permit Tidelift, Inc. to continue to use your personal information as set forth in this policy after the completion of the acquisition.</p>
    
    <h3 id="processing-and-storing-your-data">Processing and Storing Your Data</h3>
    
    <p>Your data is processed by, and stored on, servers in France, Ireland, or the United States. Once it is stored we follow industry-standard processes to secure it. We follow generally accepted standards to protect the personal information submitted to us, both during transmission and once it is received.</p>
    
    <p>We may retain your information for as long as your account is active, or as otherwise needed to provide you services, comply with our legal obligations, resolve disputes and enforce our agreements.</p>
    
    <h3 id="do-not-track">Do Not Track</h3>
    
    <p>&quot;Do Not Track&quot; is a standard and browser privacy setting that controls how third parties can monitor your usage of a given site. We do not generally share such information with third party services, so we do not respond to an individual visitor's Do Not Track settings.</p>
    
    <h2 id="access-and-choice">Access and Choice</h2>
    
    <p>Upon request we will provide you with information about whether we hold any of your personal information. You may access, correct, or request deletion of your personal information by contacting us at <a href="mailto:support@libraries.io">support@libraries.io</a>. We will respond to your request within a reasonable timeframe.</p>
    
    <h2 id="privacy-policy-changes">Privacy Policy Changes</h2>
    
    <p>Libraries.io may change our privacy policy from time to time, and in our sole discretion. We encourage users and visitors to frequently check this page for any changes. If you have a Libraries.io account, we may also notify you of changes through email or other notification systems that are part of the service. Your continued use of the service after any change in this privacy policy will constitute your acceptance of such change.</p>
    
    <h2 id="contact-us">Contact Us</h2>
    
    <p>If you have any questions or concerns regarding this privacy policy, the practices of this site or your dealings with this site, please contact us at <a href="mailto:support@libraries.io">support@libraries.io</a>.</p>
    
    <p>Last updated: Nov. 14, 2017</p>

  </div>
</div>
