<% title 'Team' %>
<div class="row">
  <div class="col-md-8">
    <h1>Team</h1>
    <h3>If you can't beat them...</h3>
    <p>
    Libraries.io is an open and inclusive open source project. We welcome contributors from a variety of backgrounds: developers, designers, copywriters, illustrators and many more besides. If you're an experienced contributor or looking to make your first pull-request we have all the guidance you need.
    </p>
    <p>
    <a class="btn btn-info" href="https://github.com/librariesio/documentation/blob/master/contributorshandbook.md#contributing-to-librariesio-heart"> <%= fa_icon 'heartbeat'%> Contribute to Libraries.io</a>
    </p>
    <h3><strong>Community</strong></h3>
    <p>
    Our community is our greatest asset. We would like to thank the following people for their time and their talents:
    </p>
    <div class='row'>
      <div class="col-md-12">
        <a href='https://github.com/malditogeek' alt="Mauro Pompilio (malditogeek)" class='contributor'>
        <img src="https://avatars0.githubusercontent.com/u/14751?v=3&s=160" width="80" alt=""/>
        </a>
        <a href='https://github.com/kdaigle' alt="Kyle Daigle (kdaigle)" class='contributor'>
        <img src="https://avatars3.githubusercontent.com/u/2501?v=3&s=160" width="80" alt=""/>
        </a>
        <a href='https://github.com/olizilla' alt ="Oli Evans (Olizilla)" class='contributor'>
        <img src="https://avatars0.githubusercontent.com/u/58871?v=3&s=160" width="80" alt=""/>
        </a>
        <a href='https://github.com/thattommyhall' alt="That Tommy Hall" class='contributor'>
        <img src="https://pbs.twimg.com/profile_images/668501995846791173/qjMMAD4R_400x400.png" width="80" alt=""/>
        </a>
        <a href='https://github.com/briannelson' alt="Brian Nelson" class='contributor'>
        <img src="https://avatars0.githubusercontent.com/u/29120?v=3&s=160" width="80" alt=""/>
        </a>
        <a href='https://github.com/bengourley' alt="Ben Gourley" class='contributor'>
        <img src="https://avatars1.githubusercontent.com/u/609579?v=3&s=160" width="80" alt=""/>
        </a>
        <a href='https://github.com/barisbalic' alt="Baris Balic" class='contributor'>
        <img src="https://avatars3.githubusercontent.com/u/196469?v=3&s=160" width="80" alt=""/>
        </a>
        <a href='https://github.com/neilmiddleton' alt="Neil Middleton" class='contributor'>
        <img src="https://avatars0.githubusercontent.com/u/60786?v=3&s=160" width="80" alt=""/>
        </a>
        <a href='https://github.com/zeke' alt="Zeke Sikelianos" class='contributor'>
        <img src="https://avatars0.githubusercontent.com/u/2289?v=3&s=160" width="80" alt=""/>
        </a>
        <a href='https://github.com/krishandley' alt="Kris Handley" class='contributor'>
        <img src="https://avatars2.githubusercontent.com/u/521598?v=3&s=160" width="80" alt=""/>
        </a>
      </div>
    </div>
    <p>
      Not listed? Add yourself following <a href='https://github.com/librariesio/documentation/blob/master/contributorshandbook.md#contributing-to-librariesio-heart'>these instructions</a>.
    </p>
    
  <div class="col-md-4">
    <%= render 'contact' %>
  </div>
</div>
