<div class="row">
  <div class="col-md-12">
    <h1>Terms and Conditions</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">

    <p>Thank you for using Libraries.io.</p>
    
    <p>By using the libraries.io website, APIs, or any other associated software (“libraries.io”, or “the service”) you are agreeing to be bound by the following terms and conditions (“Terms of Service”, or “the terms”).</p>
    
    <p>We reserve the right to update and change these terms from time to time without notice. Any new features that augment or enhance the current service, including the release of new tools and resources, will be subject to these terms. Your continued use of libraries.io after any such changes will constitute your consent to such changes.</p>
    
    <p>Violation of any of these terms may result in the termination of your account.</p>
    
    <h2 id="account-creation-and-security">Account Creation and Security</h2>
    
    <ul>
      <li>
        <p>You must be 13 years or older to use the service.</p>
      </li>
      <li>
        <p>You must be a human. Accounts registered by “bots” or other automated methods are not permitted.</p>
      </li>
      <li>
        <p>You are responsible for maintaining the security of your account. We are not liable for any loss or damage from your failure to secure your passwords or other mechanisms of account access.</p>
      </li>
      <li>
        <p>If you are accepting these terms and using the service on behalf of a company, organization, or other legal entity, you represent and warrant that you are authorized to do so.</p>
      </li>
    </ul>
    
    <h2 id="communication-and-content">Communication and Content</h2>
    
    <ul>
      <li>
        <p>Verbal, physical, written or other abuse (including threats of abuse or retribution) of any Libraries.io customer, employee, or account holder, either through the service, or through other media such as email, may result in immediate account termination.</p>
      </li>
      <li>
        <p>You may not use the service for any illegal or unauthorized purpose. We reserve the right to remove material alleged to be infringing or otherwise illegal without prior notice, at our sole discretion, and without liability to you. For more details on such removal, see our section on contacting our designated agent below.</p>
      </li>
      <li>
        <p>You acknowledge that Libraries.io cannot be responsible for the content posted by third parties on the service.</p>
      </li>
    </ul>
    
    <h2 id="copyright-and-content-ownership"><strong>Copyright and Content Ownership</strong></h2>
    
    <ul>
      <li>
        <p>You retain your ownership of any content you submit to the service. However, by submitting, posting or displaying content to the service, you grant us a worldwide, non-exclusive, royalty-free license (with the right to sublicense) to use, copy, reproduce, process, adapt, modify, publish, transmit, display and distribute such content as necessary to provide the service.</p>
      </li>
      <li>
        <p>If you give the service access to a private repository, we consider the contents of such private repositories to be confidential to you. We will protect the contents of such private repositories from unauthorized use, access, or disclosure in the same manner that we would use to protect our own confidential information of a similar nature and in no event with less than a reasonable degree of care.</p>
      </li>
      <li>
        <p>The Libraries.io name and logos are the trademarks of Tidelift, Inc. You may not use the Libraries.io name or logos without written permission from Tidelift, Inc.</p>
      </li>
    </ul>

    <h2 id="licensing-of-libraries.io-data">Licensing of Libraries.io Data</h2>
    
    <p>Data provided by the Service is licensed to you under version 4.0 of the <a href="https://creativecommons.org/licenses/by-sa/4.0/"><em>Creative Commons Attribution, Share Alike license</em></a> (CC BY-SA).</p>
    
    <p>This license grants permissive rights for users to use the data commercially, and to create and distribute derivative works, but places certain conditions on redistribution of the data, including on attribution and the terms the data can be redistributed under. Full details of the permissions granted and conditions set by the license can be found <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode"><em>here</em></a>.</p>
    
    <p>You may comply with Sec. 3(1)(A)(i) of CC BY-SA by using the text 'includes data gathered by Libraries.io' in your publication or 'powered by Libraries.io' if providing a service.</p>
    
    <p>Your obligations under CC BY-SA survive any termination of these terms.</p>
    
    <h2 id="privacy-and-user-data">Privacy and User Data</h2>
    
    <ul>
      <li>
        <p>You acknowledge that by using the service you consent to the collection and use of the information you provide us when you use the service. For more details on how information may be shared with such services and vendors, including Tidelift, Inc., please refer to our <a href="https://libraries.io/privacy"><em>Privacy Policy</em></a>.</p>
      </li>
    </ul>
    
    <h2 id="payment-cancellation-and-termination">Payment, Cancellation, and Termination</h2>
    
    <ul>
      <li>
        <p>Paid features of the service are billed in advance on a monthly basis and are non-refundable. There will be no refunds or credits for partial months of service, upgrade/downgrade, cancellation, or for unused months with an open account.</p>
      </li>
    </ul>
    
    <ul>
      <li>
        <p>You may cancel an ongoing subscription by emailing us <a href="mailto:support@libraries.io"><em>support@libraries.io</em></a>.</p>
      </li>
      <li>
        <p>If you cancel the service before the end of your current paid up month, your cancellation will take effect immediately and you will not be charged again.</p>
      </li>
      <li>
        <p>We may, in our sole discretion, suspend or terminate your account and refuse any and all current or future use of the service for any reason at any time. Such termination of the service may result in the deactivation or deletion of your account or your access to your account.</p>
      </li>
    </ul>
    
    <h2 id="modifications-to-the-service-and-prices">Modifications to the Service and Prices</h2>
    
    <ul>
      <li>
        <p>We reserve the right at any time and from time to time to modify or discontinue, temporarily or permanently, the service (or any part thereof) with or without notice.</p>
      </li>
      <li>
        <p>Prices of all services, including but not limited to monthly subscription plan fees to the service, are subject to change upon 30 days notice from us. Such notice may be provided at any time by sending a notice to the primary email address specified in your libraries.io account or by placing a prominent notice on our site.</p>
      </li>
      <li>
        <p>We are not liable to you or to any third party for any modification, price change, suspension or discontinuance of the service.</p>
      </li>
    </ul>
    
    <h2 id="disclaimer-of-warranty-and-liability">Disclaimer of Warranty and Liability</h2>
    
    <ul>
      <li>
        <p><strong>Libraries.io does not warrant that (i) the service will meet your specific requirements, (ii) the service will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of the service will be accurate or reliable, (iv) the quality of any products, services, information, or other material purchased or obtained by you through the service will meet your expectations, and (v) any errors in the service will be corrected. Your use of the service is at your sole risk. The service is provided on an “as is” and “as available” basis.</strong></p>
      </li>
      <li>
        <p><strong>You expressly understand and agree that Libraries.io will not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if Libraries.io has been advised of the possibility of such damages), resulting from: (i) the use or the inability to use the service; (ii) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from the service; (iii) unauthorized access to or alteration of your transmissions or data; (iv) statements or conduct of any third party on the service; (v) or any other matter relating to the service.</strong></p>
      </li>
    </ul>
    
    <h2 id="programmatic-service-access">Programmatic Service Access</h2>
    
    <p>You agree not to misuse or interfere with the normal operation of the service. Examples of such interference or unauthorized access can include: (i) scanning or searching the services by any means (automated or otherwise) other than through our currently available, documented interfaces intended for such purposes, unless you have been specifically allowed to do so in these terms, our robots.txt, or in a separate written agreement; (ii) disruption of the use or access of any user, host or network, including, without limitation, overloading, flooding, or spamming the services, or (iii) circumventing any rate limits in place on the service, such as <a href="https://libraries.io/api#rate-limit"><em>those described in our documentation</em></a>.</p>
    
    <p>If you require a higher rate limit please <a href="mailto:support@libraries.io"><em>contact us</em></a>. We may charge a fee to do so.</p>
    
    <h2 id="questions"><strong>Questions</strong></h2>
    
    <p>Any questions about the service should be addressed to support@libraries.io.</p>
  
  </div>

  <div class="col-sm-4">
    <h2>Contents</h2>
    <ul>
      <li><a href="#account-creation-and-security">Account Creation and Security</a></li>
      <li><a href="#communication-and-content">Communication and Content</a></li>
      <li><a href="#copyright-and-content-ownership">Copyright and Content Ownership</a></li>
      <li><a href="#licensing-of-libraries.io-data">Licensing of Libraries.io Data</a></li>
      <li><a href="#privacy-and-user-data">Privacy and User Data</a></li>
      <li><a href="#payment-cancellation-and-termination">Payment, Cancellation, and Termination</a></li>
      <li><a href="#modifications-to-the-service-and-prices">Modifications to the Service and Prices</></li>
      <li><a href="#disclaimer-of-warranty-and-liability">Disclaimer of Warranty and Liability</a></li>
      <li><a href="#programmatic-service-access">Programmatic Service Access</a></li>
      <li><a href="#questions">Questions<a></li>
    </ul>
    <p>
      For any questions, feature requests or bug reports<br/>
      <%= link_to 'open an issue', 'https://github.com/librariesio/libraries.io/issues/new' %> or email <%= mail_to 'support@libraries.io', 'support@libraries.io', subject: 'Libraries.io API' %>.
    </p>
  </div>
</div>
