<p>Good news, everyone! Libraries.io is going to be getting even more love and attention&mdash;and a new home:</p>
<p><strong>Say hello to Tidelift.</strong></p>
<p>Libraries.io has joined <a href="http://tidelift.com">Tidelift</a>, a new company dedicated to making open source software work better for developers and users. You can read more about Tidelift <a href="https://www.tidelift.com/blog/2017/11/14/hello-tidelift">over on our blog</a>. But what does this mean for you?</p>
<p><strong>Libraries.io will be getting even better</strong></p>
<p>We'll be continuing to work on Libraries.io. By coming together with Tidelift, we see opportunities to do even more interesting things that build on what we've done to date.</p>
<p><strong>Libraries.io dependency monitoring for private repositories is now free</strong></p>
<p>Libraries.io can automatically keep track of all of the libraries that your repositories depend upon across many different package managers. Once synced, Libraries.io will email you about new versions of your dependencies.</p>
<p>Libraries.io monitoring of public repositories has always been free. Now, we are also providing unlimited free monitoring of private repositories! &nbsp;</p>
<p>So feel free to go ahead and <a href="https://libraries.io/enable_private">enable monitoring of your private repositories</a> to receive updates about your dependencies.</p>
<p><strong>We're updating our terms of service and privacy policy</strong></p>
<p>As part of joining Tidelift, Libraries.io has a new <a href="https://libraries.io/terms">terms of service</a> and <a href="https://libraries.io/privacy">privacy policy</a>. If you wish to continue using your Libraries.io account then you will need to <a href='https://libraries.io/login'>opt-in to the new terms</a>. You'll be notified of the new terms both on the site and directly by separate email.</p>
<p><strong>We'd love to hear from you</strong></p>
<p>We're really excited about what the future holds for us. And we want to build this future together, so we are interested to know what you're excited about too. We'd love to hear from open source maintainers, contributors and users. &nbsp;You can get in touch with us at <a href="mailto:info@tidelift.com">info@tidelift.com</a> and follow us on Twitter at <a href="https://twitter.com/tidelift">@tidelift</a>.</p>
<p>Let's do this!</p>
<p>Andrew, Ben and our<a href="http://tidelift.com#team"> new colleagues at Tidelift</a></p>
