<div class="row">
  <div class="col-md-12">
    <h4 data-ga-tracked-el='your-dependent-repositories'>Your Dependent Repositories</h4>
    <ul>
      <% your_dependent_repos.limit(10).each do |repo| %>
        <li>
          <%= link_to repo.full_name, repository_path(repo.to_param) %>
          <small>
            <%= fa_icon("lock") if repo.private? %>
            <%= fa_icon("code-fork") if repo.fork? %>
          </small>
        </li>
      <% end %>
    </ul>
    <% if your_dependent_repos.count > 10 %>
      <%= link_to "See all your dependent repositories", your_project_dependent_repos_path(@project.to_param) %>
    <% end %>
  </div>
</div>