<% title "Packages that depend on #{@project} on #{@project.platform_name}" %>
<h1>
  <div class="pictogram pictogram-<%= @project.platform.downcase %>"></div>
  <%= link_to @project, project_path(@project.to_param) %>
</h1>

<h2>This view is currently disabled for performance reasons.</h2>
