<% title "Projects that depend on #{@project} on #{@project.platform_name} - Libraries" %>

<h1>Projects that depend on <%= link_to @project, project_path(@project.to_param) %></h1>
<hr>
<% if @dependents.any? %>
  <%= render @dependents, cache: true %>
  <%= will_paginate @dependents, page_links: false %>
<% else %>
  <p>
    No projects found, go back to <%= link_to @project, project_path(@project.to_param) %>.
  </p>
<% end %>
