<h2>New Projects</h2>

<%= render @projects %>

<ul>
  <% Repositories.descendants.each do |platform| %>
    <% name = platform.to_s.demodulize %>
    <% next if name == 'Base' %>
    <li>

      <%= link_to "#{name} (#{Project.platform(name).count})", url_for(platform: name) %>
    </li>
  <% end %>
</ul>
