<div class='row'>
  <div class='col-md-8'>
    <%= render @projects %>
    <%= will_paginate @projects, renderer: BootstrapPagination::Rails, page_links: false %>
  </div>

  <div class='col-md-4'>
    <ul>
      <% Repositories.descendants.each do |platform| %>
        <% name = platform.to_s.demodulize %>
        <% next if name == 'Base' %>
        <li>
          <%= link_to name, url_for(platform: name) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
