<% title "Your repositories that depend on #{@project} on #{@project.platform_name}" %>
<h1>Your repositories that depend on <%= link_to @project, project_path(@project.to_param) %></h1>
<hr>
<div class="row">
  <div class="col-sm-8">
    <% if @dependent_repos.any? %>
      <%= render @dependent_repos %>
      <%= will_paginate @dependent_repos, page_links: false %>
    <% else %>
      <p>
        No repositories found, go back to <%= link_to @project, project_path(@project.to_param) %>.
      </p>
    <% end %>
  </div>
  <div class="col-sm-4">

  </div>
</div>
