<div class='row'>
  <div class='col-md-12'>
    <h1>GitHub Issues</h1>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-8">
    <%= render @github_issues %>
    <%= will_paginate @github_issues %>
  </div>
</div>
