<% title = 'Github Issues' %>
<div class='row'>
  <div class='col-sm-12'>
    <h1>GitHub Issues</h1>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-8">
    <%= render @github_issues, cache: true %>
    <%= will_paginate @github_issues %>
  </div>
  <div class="col-sm-4">
    <%= render 'adsense/sidebar' %>
  </div>
</div>
