<h2>Oh no!  We've had a problem at our end.</h2>
<p>Hopefully this a temporary setback.  But don't worry, we've recorded it in <%= link_to 'Bugsnag', 'https://bugsnag.com' %> and will check it out very soon.</p>
