<div class="row">
  <div class="col-sm-8">
    <h2>We can't find whatever it was you were looking for.</h2>
    <p>In truth, we may never have had what you are looking for, it could have been removed or never existed.</p>
    <p>
      Email us at <%= mail_to 'support@libraries.io', 'support@libraries.io' %> if this is ruining your day.
    </p>
  </div>
  <div class="col-sm-4">

  </div>
</div>
