<div class="row">
  <div class="col-md-8">
    <h2>Packages you're watching</h2>
    <% if @subscriptions.any? %>
      <table id='subscriptions' class='table table-striped table-hover'>
        <%= render @subscriptions %>
      </table>
      <%= will_paginate @subscriptions, page_links: false %>
    <% else %>
      <p>
        Libraries.io lets you watch packages that you depend on and notifies you by email when there's a new release.
      </p>
    <% end %>
  </div>
  <div class="col-md-4">

  </div>
</div>
