---
http_interactions:
- request:
    method: get
    uri: https://api.nuget.org/v3/registration5-gz-semver2/nuget.protocol.core.v3/index.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - azWPe5whnFKtqVTteO0RiA==
      Last-Modified:
      - Sat, 08 Feb 2020 08:22:41 GMT
      Etag:
      - '0x8D7AC70108D5342'
      X-Ms-Version:
      - '2009-09-19'
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Blob-Type:
      - BlockBlob
    body:
      encoding: ASCII-8BIT
      string: '{"@id":"https://api.nuget.org/v3/registration5-gz-semver2/nuget.protocol.core.v3/index.json","@type":["catalog:CatalogRoot","PackageRegistration","catalog:Permalink"],"commitId":"1f7e952b-5e97-4fe8-b829-649d91eeea11","commitTimeStamp":"2020-02-08T08:22:39.3450329+00:00","count":1,"items":[{"@id":"https://api.nuget.org/v3/registration5-gz-semver2/nuget.protocol.core.v3/index.json#page/3.2.0/4.3.0-beta1-2418","@type":"catalog:CatalogPage","commitId":"1f7e952b-5e97-4fe8-b829-649d91eeea11","commitTimeStamp":"2020-02-08T08:22:39.3450329+00:00","count":18,"items":[{"@id":"https://api.nuget.org/v3/registration5-gz-semver2/nuget.protocol.core.v3/3.2.0.json","@type":"Package","commitId":"1f7e952b-5e97-4fe8-b829-649d91eeea11","commitTimeStamp":"2020-02-08T08:22:39.3450329+00:00","catalogEntry":{"@id":"https://api.nuget.org/v3/catalog0/data/2019.10.04.00.24.50/nuget.protocol.core.v3.3.2.0.json","@type":"PackageDetails","authors":"NuGet","dependencyGroups":[{"@id":"https://api.nuget.org/v3/catalog0/data/2019.10.04.00.24.50/nuget.protocol.core.v3.3.2.0.json#dependencygroup/.netframework4.5","@type":"PackageDependencyGroup","dependencies":[{"@id":"https://api.nuget.org/v3/catalog0/data/2019.10.04.00.24.50/nuget.protocol.core.v3.3.2.0.json#dependencygroup/.netframework4.5/nuget.logging","@type":"PackageDependency","id":"NuGet.Logging","range":"[3.2.0,
        )","registration":"https://api.nuget.org/v3/registration5-gz-semver2/nuget.logging/index.json"},{"@id":"https://api.nuget.org/v3/catalog0/data/2019.10.04.00.24.50/nuget.protocol.core.v3.3.2.0.json#dependencygroup/.netframework4.5/nuget.packaging","@type":"PackageDependency","id":"NuGet.Packaging","range":"[3.2.0,
        )","registration":"https://api.nuget.org/v3/registration5-gz-semver2/nuget.packaging/index.json"},{"@id":"https://api.nuget.org/v3/catalog0/data/2019.10.04.00.24.50/nuget.protocol.core.v3.3.2.0.json#dependencygroup/.netframework4.5/nuget.protocol.core.types","@type":"PackageDependency","id":"NuGet.Protocol.Core.Types","range":"[3.2.0,
        )","registration":"https://api.nuget.org/v3/registration5-gz-semver2/nuget.protocol.core.types/index.json"},{"@id":"https://api.nuget.org/v3/catalog0/data/2019.10.04.00.24.50/nuget.protocol.core.v3.3.2.0.json#dependencygroup/.netframework4.5/newtonsoft.json","@type":"PackageDependency","id":"Newtonsoft.Json","range":"[6.0.6,
        )","registration":"https://api.nuget.org/v3/registration5-gz-semver2/newtonsoft.json/index.json"}],"targetFramework":".NETFramework4.5"},{"@id":"https://api.nuget.org/v3/catalog0/data/2019.10.04.00.24.50/nuget.protocol.core.v3.3.2.0.json#dependencygroup/dnxcore5.0","@type":"PackageDependencyGroup","dependencies":[{"@id":"https://api.nuget.org/v3/catalog0/data/2019.10.04.00.24.50/nuget.protocol.core.v3.3.2.0.json#dependencygroup/dnxcore5.0/nuget.logging","@type":"PackageDependency","id":"NuGet.Logging","range":"[3.2.0,
        )","registration":"https://api.nuget.org/v3/registration5-gz-semver2/nuget.logging/in[...]
