---
http_interactions:
- request:
    method: get
    uri: https://api.nuget.org/v3/registration5-gz-semver2/microsoft.dotnet.internalabstractions/index.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - Hl2AS8uAxbI9V6RF2eIUqg==
      Last-Modified:
      - Thu, 23 Jun 2022 16:57:52 GMT
      Etag:
      - '0x8DA553982C47317'
      X-Ms-Version:
      - '2009-09-19'
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Blob-Type:
      - BlockBlob
    body:
      encoding: ASCII-8BIT
      string: '{"@id":"https://api.nuget.org/v3/registration5-gz-semver2/microsoft.dotnet.internalabstractions/index.json","@type":["catalog:CatalogRoot","PackageRegistration","catalog:Permalink"],"commitId":"2020d626-0f79-4f3f-8f83-f0957122f01f","commitTimeStamp":"2022-06-23T16:57:48.488385+00:00","count":1,"items":[{"@id":"https://api.nuget.org/v3/registration5-gz-semver2/microsoft.dotnet.internalabstractions/index.json#page/1.0.0-rc2-002702/1.0.500-preview2-1-003177","@type":"catalog:CatalogPage","commitId":"2020d626-0f79-4f3f-8f83-f0957122f01f","commitTimeStamp":"2022-06-23T16:57:48.488385+00:00","count":3,"items":[{"@id":"https://api.nuget.org/v3/registration5-gz-semver2/microsoft.dotnet.internalabstractions/1.0.0-rc2-002702.json","@type":"Package","commitId":"2020d626-0f79-4f3f-8f83-f0957122f01f","commitTimeStamp":"2022-06-23T16:57:48.488385+00:00","catalogEntry":{"@id":"https://api.nuget.org/v3/catalog0/data/2022.06.23.16.57.27/microsoft.dotnet.internalabstractions.1.0.0-rc2-002702.json","@type":"PackageDetails","authors":"Microsoft.DotNet.InternalAbstractions","dependencyGroups":[{"@id":"https://api.nuget.org/v3/catalog0/data/2022.06.23.16.57.27/microsoft.dotnet.internalabstractions.1.0.0-rc2-002702.json#dependencygroup/.netframework4.5.1","@type":"PackageDependencyGroup","targetFramework":".NETFramework4.5.1"},{"@id":"https://api.nuget.org/v3/catalog0/data/2022.06.23.16.57.27/microsoft.dotnet.internalabstractions.1.0.0-rc2-002702.json#dependencygroup/.netstandard1.3","@type":"PackageDependencyGroup","dependencies":[{"@id":"https://api.nuget.org/v3/catalog0/data/2022.06.23.16.57.27/microsoft.dotnet.internalabstractions.1.0.0-rc2-002702.json#dependencygroup/.netstandard1.3/system.appcontext","@type":"PackageDependency","id":"System.AppContext","range":"[4.1.0-rc2-24027,
        )","registration":"https://api.nuget.org/v3/registration5-gz-semver2/system.appcontext/index.json"},{"@id":"https://api.nuget.org/v3/catalog0/data/2022.06.23.16.57.27/microsoft.dotnet.internalabstractions.1.0.0-rc2-002702.json#dependencygroup/.netstandard1.3/system.collections","@type":"PackageDependency","id":"System.Collections","range":"[4.0.11-rc2-24027,
        )","registration":"https://api.nuget.org/v3/registration5-gz-semver2/system.collections/index.json"},{"@id":"https://api.nuget.org/v3/catalog0/data/2[...]
