---
http_interactions:
- request:
    method: get
    uri: https://api.nuget.org/v3/registration5-gz-semver2/steeltoe.common/index.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - 6QBtMJ127WIoNwt73sbNyA==
      Last-Modified:
      - Tue, 21 Feb 2023 18:28:21 GMT
      Etag:
      - '0x8DB143969637D23'
      X-Ms-Version:
      - '2009-09-19'
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Blob-Type:
      - BlockBlob
    body:
      encoding: ASCII-8BIT
      string: '{"@id":"https://api.nuget.org/v3/registration5-gz-semver2/steeltoe.common/index.json","@type":["catalog:CatalogRoot","PackageRegistration","catalog:Permalink"],"commitId":"b190a2fb-914c-4bb1-adae-f5f0d3e24fbc","commitTimeStamp":"2023-02-21T18:28:18.003785+00:00","count":1,"items":[{"@id":"https://api.nuget.org/v3/registration5-gz-semver2/steeltoe.common/index.json#page/2.0.0-rc1/3.2.3","@type":"catalog:CatalogPage","commitId":"b190a2fb-914c-4bb1-adae-f5f0d3e24fbc","commitTimeStamp":"2023-02-21T18:28:18.003785+00:00","count":41,"items":[{"@id":"https://api.nuget.org/v3/registration5-gz-semver2/steeltoe.common/2.0.0-rc1.json","@type":"Package","commitId":"0cc52631-5b0f-4654-9e64-b43f8297288e","commitTimeStamp":"2020-02-08T00:23:29.6065233+00:00","catalogEntry":{"@id":"https://api.nuget.org/v3/catalog0/data/2018.11.13.21.52.00/steeltoe.common.2.0.0-rc1.json","@type":"PackageDetails","authors":"Pivotal,dtillman","dependencyGroups":[{"@id":"https://api.nuget.org/v3/catalog0/data/2018.11.13.21.52.00/steeltoe.common.2.0.0-rc1.json#dependencygroup/.netstandard2.0","@type":"PackageDependencyGroup","dependencies":[{"@id":"https://api.nuget.org/v3/catalog0/data/2018.11.13.21.52.00/steeltoe.common.2.0.0-rc1.json#dependencygroup/.netstandard2.0/microsoft.extensions.configuration.binder","@type":"PackageDependency","id":"Microsoft.Extensions.Configuration.Binder","range":"[2.0.0,
        )","registration":"https://api.nuget.org/v3/registration5-gz-semver2/microsoft.extensions.configuration.binder/index.json"},{"@id":"https://api.nuget.org/v3/catalog0/data/2018.11.13.21.52.00/steeltoe.common.2.0.0-rc1.json#dependencygroup/.netstandard2.0/microsoft.extensions.logging.abstractions","@type":"PackageDependency","id":"Microsoft.Extensions.Logging.Abstractions","range":"[2.0.0,
        )","registration":"https://api.nuget.org/v3/registration5-gz-semver2/microsoft.extensions.logging.abstractions/index.json"}],"targetFramework":".NETStandard2.0"}],"description":"Steeltoe
        Common Library","iconUrl":"https://api.nuget.org/v3-flatcontainer/steeltoe.common/2.0.0-rc1/icon","id":"Steeltoe.Common","language":"","licenseExpression":"","licenseUrl":"http://www.apache.org/licenses/LICENSE-2.0","listed":true,"minClientVersion":"","packageContent":"https://api.nuget.org/v3-flatcontainer/steeltoe.common/2.0.0-rc1/steeltoe.common.2.0.0-rc1.nupkg","projectUrl":"http://steeltoe.io/","published":"2017-12-16T16:18:48.173+00:00","requireLicenseAcceptance":false,"summary":"","tags":["NET","Core","Framework"],"title":"","version":"2.0.0-rc1"},"packageContent":"https://api.nuget.org/v3-flatcontainer/steeltoe.common/2.0.0-rc1/steeltoe.common.2.0.0-rc1.nupkg","registration":"https://api.nuget.org/v3/registration5-gz-semver2/steeltoe.common/index.json"},{"@id":"https://api.nuget.org/v3/registration5-gz-semver2/steeltoe.common/2.0.0.json","@type":"Package","commitId":"0cc52631-5b0f-4654-9e64-b43f8297288e","commitTimeStamp":"2020-02-08T00:23:29.6065233+00:00","catalogEntry":{"@id":"https://api.nuget.org/v3/catalog0/data/2018.1[...]
