---
http_interactions:
- request:
    method: get
    uri: https://api.nuget.org/v3/registration5-gz-semver2/runtime.win10-x86.microsoft.net.native.sharedlibrary/index.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - fy9pxE8malnkzuczST155w==
      Last-Modified:
      - Wed, 29 Jun 2022 22:24:05 GMT
      Etag:
      - '0x8DA5A1E1425E7EF'
      X-Ms-Version:
      - '2009-09-19'
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Blob-Type:
      - BlockBlob
    body:
      encoding: ASCII-8BIT
      string: '{"@id":"https://api.nuget.org/v3/registration5-gz-semver2/runtime.win10-x86.microsoft.net.native.sharedlibrary/index.json","@type":["catalog:CatalogRoot","PackageRegistration","catalog:Permalink"],"commitId":"0ab3dedd-464f-4c6e-8768-8bcbb832f0a2","commitTimeStamp":"2022-06-29T22:24:05.4770465+00:00","count":1,"items":[{"@id":"https://api.nuget.org/v3/registration5-gz-semver2/runtime.win10-x86.microsoft.net.native.sharedlibrary/index.json#page/2.1.6/2.2.8-rel-31116-00","@type":"catalog:CatalogPage","commitId":"0ab3dedd-464f-4c6e-8768-8bcbb832f0a2","commitTimeStamp":"2022-06-29T22:24:05.4770465+00:00","count":12,"items":[{"@id":"https://api.nuget.org/v3/registration5-gz-semver2/runtime.win10-x86.microsoft.net.native.sharedlibrary/2.1.6.json","@type":"Package","commitId":"3744aa17-2ae0-48db-ad85-8111941c3a3f","commitTimeStamp":"2020-02-07T23:38:13.8103983+00:00","catalogEntry":{"@id":"https://api.nuget.org/v3/catalog0/data/2018.10.12.08.55.35/runtime.win10-x86.microsoft.net.native.sharedlibrary.2.1.6.json","@type":"PackageDetails","authors":"Microsoft","description":".Net
        Native Compilers package. Referencing this package will cause the project
        to be built using the specific version of the .NET Native compiler contained
        in the package, as opposed to any system installed version.\n\nSupported Platforms:\n-
        UWP tools 2.1","iconUrl":"https://api.nuget.org/v3-flatcontainer/runtime.win10-x86.microsoft.net.native.sharedlibrary/2.1.6/icon","id":"runtime.win10-x86.Microsoft.Net.Native.SharedLibrary","language":"en-US","licenseExpression":"","licenseUrl":"https://go.microsoft.com/fwlink/?linkid=838619","listed":true,"minClientVersion":"","packageContent":"https://api.nuget.org/v3-flatcontainer/runtime.win10-x86.microsoft.net.native.sharedlibrary/2.1.6/runtime.win10-x86.microsoft.net.native.sharedlibrary.2.1.6.nupkg","projectUrl":"https://github.com/dotnet","published":"2018-04-27T01:06:11.437+00:00","requireLicenseAcceptance":true,"summary":"","tags":["Compiler","Compilation",".Net"],"title":"runtime.win10-x86.Microsoft.Net.Native.SharedLibrary","version":"2.1.6"},"packageContent":"https://api.nuget.org/v3-flatcontainer/runtime.win10-x86.microsoft.net.native.sharedlibrary/2.1.6/runtime.win10-x86.microsoft.net.native.sharedlibrary.2.1.6.nupkg","registration":"https://api.nuget.org/v3/registration5-gz-semver2/runtime.win10-x86.microsoft.net.native.sharedlibrary/index.json"},{"@id":"https://api.nuget.org/v3/registration5-gz-semver2/runtime.win10-x86.microsoft.net.native.sharedlibrary/2.1.8.json","@type":"Package","commitId":"3744aa17-2ae0-48db-ad85-8111941c3a3f","commitTimeStamp":"2020-02-07T23:38:13.8103983+00:00","catalogEntry":{"@id":"https://api.nuget.org/v3/catalog0/data/2018.10.12.08.56.54/runtime.win10-x86.microsoft.net.native.sharedlibrary.2.1[...]
- request:
    method: get
    uri: https://api.nuget.org/v3/registration5-gz-semver2/microsoft.dotnet.internalabstractions/index.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - Hl2AS8uAxbI9V6RF2eIUqg==
      Last-Modified:
      - Thu, 23 Jun 2022 16:57:52 GMT
      Etag:
      - '0x8DA553982C47317'
      X-Ms-Version:
      - '2009[...]
