---
http_interactions:
- request:
    method: get
    uri: https://api.nuget.org/v3/registration5-gz-semver2/reactiveui-blend/index.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Content-Md5:
      - ywMql+yNOY6x23q1bEq+ag==
      Last-Modified:
      - Sat, 08 Feb 2020 06:09:47 GMT
      Etag:
      - '0x8D7AC5D802CDCD6'
      X-Ms-Version:
      - '2009-09-19'
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Blob-Type:
      - BlockBlob
    body:
      encoding: ASCII-8BIT
      string: '{"@id":"https://api.nuget.org/v3/registration5-gz-semver2/reactiveui-blend/index.json","@type":["catalog:CatalogRoot","PackageRegistration","catalog:Permalink"],"commitId":"07bca6ce-5a35-4266-aa5e-5661c0e59316","commitTimeStamp":"2020-02-08T06:09:44.1217331+00:00","count":1,"items":[{"@id":"https://api.nuget.org/v3/registration5-gz-semver2/reactiveui-blend/index.json#page/5.99.6-beta/8.0.0-alpha0109","@type":"catalog:CatalogPage","commitId":"07bca6ce-5a35-4266-aa5e-5661c0e59316","commitTimeStamp":"2020-02-08T06:09:44.1217331+00:00","count":34,"items":[{"@id":"https://api.nuget.org/v3/registration5-gz-semver2/reactiveui-blend/5.99.6-beta.json","@type":"Package","commitId":"07bca6ce-5a35-4266-aa5e-5661c0e59316","commitTimeStamp":"2020-02-08T06:09:44.1217331+00:00","catalogEntry":{"@id":"https://api.nuget.org/v3/catalog0/data/2018.11.22.14.59.13/reactiveui-blend.5.99.6-beta.json","@type":"PackageDetails","authors":"Paul
        Betts","dependencyGroups":[{"@id":"https://api.nuget.org/v3/catalog0/data/2018.11.22.14.59.13/reactiveui-blend.5.99.6-beta.json#dependencygroup","@type":"PackageDependencyGroup","dependencies":[{"@id":"https://api.nuget.org/v3/catalog0/data/2018.11.22.14.59.13/reactiveui-blend.5.99.6-beta.json#dependencygroup/reactiveui-core","@type":"PackageDependency","id":"reactiveui-core","range":"[5.99.6-beta,
        5.99.6-beta]","registration":"https://api.nuget.org/v3/registration5-gz-semver2/reactiveui-core/index.json"}]},{"@id":"https://api.nuget.org/v3/catalog0/data/2018.11.22.14.59.13/reactiveui-blend.5.99.6-beta.json#dependencygroup/.netframework4.5","@type":"PackageDependencyGroup","dependencies":[{"@id":"https://api.nuget.org/v3/catalog0/data/2018.11.22.14.59.13/reactiveui-blend.5.99.6-beta.json#dependencygroup/.netframework4.5/reactiveui-core","@type":"PackageDependency","id":"reactiveui-core","range":"[5.99.6-beta,
        5.99.6-beta]","registration":"https://api.nuget.org/v3/registration5-gz-semver2/reactiveui-core/index.json"},{"@id":"https://api.nuget.org/v3/catalog0/data/2018.11.22.14.59.13/reactiveui-blend.5.99.6-beta.json#dependencygroup/.netframework4.5/rx-xaml","@type":"PackageDependency","id":"Rx-Xaml","range":"[2.2.4,
        )","registration":"https://api.nuget.org/v3/registration5-gz-semver2/rx-xaml/index.json"}],"targetFramework":".NETFramework4.5"},{"@id":"https://api.nuget.org/v3/catalog0/data/2018.11.22.14.59.13/reactiveui-blend.5.99.6-beta.json#dependencygroup/windowsphone8.0","@type":"PackageDependencyGroup","dependencies":[{"@id":"https://api.nuget.org/v3/catalog0/data/2018.11.22.14.59.13/reactiveui-blend.5.99.6-beta.json#dependencygroup/windowsphone8.0/reactiveui-core","@type":"PackageDependency","id":"reactiveui-core","range":"[5.99.6-beta,
        5.99.6-beta]","registration":"https://api.nuget.org/v3/registrati[...]
