---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/rate_limit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4440'
      X-Ratelimit-Reset:
      - '1574112299'
      X-Oauth-Scopes:
      - read:discussion, read:enterprise, read:gpg_key, read:org, read:packages, read:public_key,
        read:repo_hook, read:user, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"resources":{"core":{"limit":5000,"remaining":4440,"reset":1574112299},"search":{"limit":30,"remaining":30,"reset":1574109227},"graphql":{"limit":5000,"remaining":4990,"reset":1574112357},"integration_manifest":{"limit":5000,"remaining":5000,"reset":1574112299}},"rate":{"limit":5000,"remaining":4440,"reset":1574112299}}'
  recorded_at: Mon, 18 Nov 2019 20:32:47 GMT
- request:
    method: get
    uri: https://api.github.com/repos/bad/example-for-testing
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test_token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4439'
      X-Ratelimit-Reset:
      - '1574112299'
      X-Oauth-Scopes:
      - read:discussion, read:enterprise, read:gpg_key, read:org, read:packages, read:public_key,
        read:repo_hook, read:user, repo, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; param=drax-preview; format=json, github.mercy-preview; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3/repos/#get"}'
  recorded_at: Mon, 18 Nov 2019 20:32:47 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/search/issues?per_page=100&q=repo:bad/example-for-testing%20type:issue
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test_token
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1574109227'
      X-Oauth-Scopes:
      - read:discussion, read:enterprise, read:gpg_key, read:org, read:packages, read:public_key,
        read:repo_hook, read:user, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Validation Failed","errors":[{"message":"The listed users
        and repositories cannot be searched either because the resources do not exist
        or you do not have permission to view them.","resource":"Search","field":"q","code":"invalid"}],"documentation_url":"https://developer.github.com/v3/search/"}'
  recorded_at: Mon, 18 Nov 2019 20:32:47 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/search/issues?per_page=100&q=repo:bad/example-for-testing%20type:pr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test_token
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '28'
      X-Ratelimit-Reset:
      - '1574109227'
      X-Oauth-Scopes:
      - read:discussion, read:enterprise, read:gpg_key, read:org, read:packages, read:public_key,
        read:repo_hook, read:user, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Validation Failed","errors":[{"message":"The listed users
        and repositories cannot be searched either because the resources do not exist
        or you do not have permission to view them.","resource":"Search","field":"q","code":"invalid"}],"documentation_url":"https://developer.github.com/v3/search/"}'
  recorded_at: Mon, 18 Nov 2019 20:32:47 GMT
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query AuthToken__V4RateLimitQuery {\n  viewer {\n    login\n  }\n  rateLimit
        {\n    remaining\n  }\n}","operationName":"AuthToken__V4RateLimitQuery"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - read:discussion, read:enterprise, read:gpg_key, read:org, read:packages, read:public_key,
        read:repo_hook, read:user, repo, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1574112357'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"viewer":{"login":"mikeyoung85"},"rateLimit":{"remaining":4989}}}'
  recorded_at: Mon, 18 Nov 2019 20:32:48 GMT
[...]
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query MaintenanceStats__Queries__Github__RepoReleasesQuery__RELEASES_QUERY($owner:
        String!, $repo_name: String!, $cursor: String) {\n  repository(owner: $owner,
        name: $repo_name) {\n    releases(first: 100, after: $cursor, orderBy: {field:
        CREATED_AT, direction: DESC}) {\n      nodes {\n        name\n        publishedAt\n      }\n      totalCount\n      pageInfo
        {\n        hasPreviousPage\n        hasNextPage\n        endCursor\n        startCursor\n      }\n    }\n  }\n}","variables":{"owner":"bad","repo_name":"example-for-testing"},"operationName":"MaintenanceStats__Queries__Github__RepoReleasesQuery__RELEASES_QUERY"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - read:discussion, read:enterprise, read:gpg_key, read:org, read:packages, read:public_key,
        read:repo_hook, read:user, repo, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1574112357'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"repository":null},"errors":[{"type":"NOT_FOUND","path":["repository"],"locations":[{"line":2,"column":3}],"message":"Could
        not resolve to a Repository with the name ''example-for-testing''."}]}'
  recorded_at: Mon, 18 Nov 2019 20:32:49 GMT
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query MaintenanceStats__Queries__Github__CommitCountQuery__COMMIT_COUNTS_QUERY($owner:
        String!, $repo_name: String!, $one_week: GitTimestamp!, $one_month: GitTimestamp!,
        $two_months: GitTimestamp!, $one_year: GitTimestamp!) {\n  repository(owner:
        $owner, name: $repo_name) {\n    defaultBranchRef {\n      target {\n        __typename\n        ...
        on Commit {\n          latestCommit: history(first: 1) {\n            nodes
        {\n              committedDate\n            }\n          }\n          lastWeek:
        history(since: $one_week) {\n            totalCount\n          }\n          lastMonth:
        history(since: $one_month) {\n            totalCount\n          }\n          lastTwoMonths:
        history(since: $two_months) {\n            totalCount\n          }\n          lastYear:
        history(since: $one_year) {\n            totalCount\n          }\n        }\n      }\n      name\n    }\n  }\n}","variables":{"one_week":"2018-12-07T17:49:49+00:00","one_month":"2018-11-14T17:49:49+00:00","two_months":"2018-10-14T17:49:49+00:00","one_year":"2017-12-14T17:49:49+00:00","owner":"bad","repo_name":"example-for-testing"},"operationName":"MaintenanceStats__Queries__Github__CommitCountQuery__COMMIT_COUNTS_QUERY"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - read:discussion, read:enterprise, read:gpg_key, read:org, read:packages, read:public_key,
        read:repo_hook, read:user, repo, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1574112357'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"repository":null},"errors":[{"type":"NOT_FOUND","path":["repository"],"locations":[{"line":2,"column":3}],"message":"Could
        not resolve to a Repository with the name ''example-for-testing''."}]}'
  recorded_at: Mon, 18 Nov 2019 20:32:49 GMT
- request:
    method: get
    uri: https://api.github.com/repos/bad/example-for-testing/stats/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test_token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4438'
      X-Ratelimit-Reset:
      - '1574112299'
      X-Oauth-Scopes:
      - read:discussion, read:enterprise, read:gpg_key, read:org, read:packages, read:public_key,
        read:repo_hook, read:user, repo, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3/repos/statistics/#get-contributors-list-with-additions-deletions-and-commit-counts"}'
  recorded_at: Mon, 18 Nov 2019 20:32:49 GMT
recorded_with: VCR 4.0.0
