---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query AuthToken__V4RateLimitQuery {\n  viewer {\n    login\n  }\n  rateLimit
        {\n    remaining\n  }\n}","operationName":"AuthToken__V4RateLimitQuery"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - notifications, read:discussion, read:gpg_key, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1545166369'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"viewer":{"login":"mikeyoung85"},"rateLimit":{"remaining":4991}}}'
  recorded_at: Tue, 18 Dec 2018 19:53:03 GMT
- request:
    method: get
    uri: https://api.github.com/rate_limit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4954'
      X-Ratelimit-Reset:
      - '1545162915'
      X-Oauth-Scopes:
      - notifications, read:discussion, read:gpg_key, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"resources":{"core":{"limit":5000,"remaining":4954,"reset":1545162915},"search":{"limit":30,"remaining":30,"reset":1545162844},"graphql":{"limit":5000,"remaining":4991,"reset":1545166369}},"rate":{"limit":5000,"remaining":4954,"reset":1545162915}}'
  recorded_at: Tue, 18 Dec 2018 19:53:04 GMT
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query MaintenanceStats__Queries__FullRepoQuery__FullRepoQuery($owner:
        String!, $repo_name: String!) {\n  repository(owner: $owner, name: $repo_name)
        {\n    nameWithOwner\n    defaultBranchRef {\n      name\n      target {\n        __typename\n        ...
        on Commit {\n          history(first: 50) {\n            edges {\n              node
        {\n                authoredDate\n              }\n            }\n          }\n        }\n      }\n    }\n    closedIssues:
        issues(states: CLOSED) {\n      totalCount\n    }\n    openIssues: issues(states:
        OPEN) {\n      totalCount\n    }\n    closedPullRequests: pullRequests(states:
        CLOSED) {\n      totalCount\n    }\n    openPullRequests: pullRequests(states:
        OPEN) {\n      totalCount\n    }\n    mergedPullRequests: pullRequests(states:
        MERGED) {\n      totalCount\n    }\n    releases(last: 1) {\n      nodes {\n        publishedAt\n      }\n    }\n  }\n}","variables":{"owner":"bad","repo_name":"example-for-testing"},"operationName":"MaintenanceStats__Queries__FullRepoQuery__FullRepoQuery"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - notifications, read:discussion, read:gpg_key, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1545166369'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"repository":null},"errors":[{"message":"Could not resolve
        to a Repository with the name ''example-for-testing''.","type":"NOT_FOUND","path":["repository"],"locations":[{"line":2,"column":3}]}]}'
  recorded_at: Tue, 18 Dec 2018 19:53:04 GMT
- request:
    method: get
    uri: https://api.github.com/repos/bad/example-for-testing/contributors?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test_token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4953'
      X-Ratelimit-Reset:
      - '1545162915'
      X-Oauth-Scopes:
      - notifications, read:discussion, read:gpg_key, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3/repos/#list-contributors"}'
  recorded_at: Tue, 18 Dec 2018 19:53:04 GMT
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query MaintenanceStats__Queries__RepoReleasesQuery__ReleasesQuery($owner:
        String!, $repo_name: String!, $cursor: String) {\n  repository(owner: $owner,
        name: $repo_name) {\n    releases(first: 100, after: $cursor, orderBy: {field:
        CREATED_AT, direction: DESC}) {\n      nodes {\n        name\n        publishedAt\n      }\n      totalCount\n      pageInfo
        {\n        hasPreviousPage\n        hasNextPage\n        endCursor\n        startCursor\n      }\n    }\n  }\n}","variables":{"owner":"bad","repo_name":"example-for-testing"},"operationName":"MaintenanceStats__Queries__RepoReleasesQuery__ReleasesQuery"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - notifications, read:discussion, read:gpg_key, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1545166369'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"repository":null},"errors":[{"message":"Could not resolve
        to a Repository with the name ''example-for-testing''.","type":"NOT_FOUND","path":["repository"],"locations":[{"line":2,"column":3}]}]}'
  recorded_at: Tue, 18 Dec 2018 19:53:04 GMT
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query MaintenanceStats__Queries__CommitCountQuery__CommitCountsQuery($owner:
        String!, $repo_name: String!, $start_date: GitTimestamp!) {\n  repository(owner:
        $owner, name: $repo_name) {\n    defaultBranchRef {\n      target {\n        __typename\n        ...
        on Commit {\n          history(since: $start_date) {\n            totalCount\n          }\n        }\n      }\n      name\n    }\n  }\n}","variables":{"owner":"bad","repo_name":"example-for-testing","start_date":"2018-12-07T17:49:49+00:00"},"operationName":"MaintenanceStats__Queries__CommitCountQuery__CommitCountsQuery"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - notifications, read:discussion, read:gpg_key, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1545166369'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"repository":null},"errors":[{"message":"Could not resolve
        to a Repository with the name ''example-for-testing''.","type":"NOT_FOUND","path":["repository"],"locations":[{"line":2,"column":3}]}]}'
  recorded_at: Tue, 18 Dec 2018 19:53:04 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/bad/example-for-testing/stats/participation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test_token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4952'
      X-Ratelimit-Reset:
      - '1545162915'
      X-Oauth-Scopes:
      - notifications, read:discussion, read:gpg_key, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3/repos/statistics/#get-the-weekly-commit-count-for-the-repository-owner-and-everyone-else"}'
  recorded_at: Tue, 18 Dec 2018 19:53:06 GMT
recorded_with: VCR 4.0.0
