---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/bad/example-for-testing
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test_token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4439'
      X-Ratelimit-Reset:
      - '1574112299'
      X-Oauth-Scopes:
      - read:discussion, read:enterprise, read:gpg_key, read:org, read:packages, read:public_key,
        read:repo_hook, read:user, repo, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; param=drax-preview; format=json, github.mercy-preview; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3/repos/#get"}'
  recorded_at: Mon, 18 Nov 2019 20:32:47 GMT
- request:
    method: get
    uri: https://api.github.com/rate_limit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4439'
      X-Ratelimit-Reset:
      - '1574112299'
      X-Oauth-Scopes:
      - read:discussion, read:enterprise, read:gpg_key, read:org, read:packages, read:public_key,
        read:repo_hook, read:user, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"resources":{"core":{"limit":5000,"remaining":4439,"reset":1574112299},"search":{"limit":30,"remaining":30,"reset":1574109227},"graphql":{"limit":5000,"remaining":4990,"reset":1574112357},"integration_manifest":{"limit":5000,"remaining":5000,"reset":1574112299}},"rate":{"limit":5000,"remaining":4439,"reset":1574112299}}'
  recorded_at: Mon, 18 Nov 2019 20:32:47 GMT
- request:
    method: get
    uri: https://api.github.com/search/issues?per_page=100&q=repo:bad/example-for-testing%20type:issue
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test_token
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1574109227'
      X-Oauth-Scopes:
      - read:discussion, read:enterprise, read:gpg_key, read:org, read:packages, read:public_key,
        read:repo_hook, read:user, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Validation Failed","errors":[{"message":"The listed users
        and repositories cannot be searched either because the resources do not exist
        or you do not have permission to view them.","resource":"Search","field":"q","code":"invalid"}],"documentation_url":"https://developer.github.com/v3/search/"}'
  recorded_at: Mon, 18 Nov 2019 20:32:47 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/search/issues?per_page=100&q=repo:bad/example-for-testing%20type:pr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test_token
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '28'
      X-Ratelimit-Reset:
      - '1574109227'
      X-Oauth-Scopes:
      - read:discussion, read:enterprise, read:gpg_key, read:org, read:packages, read:public_key,
        read:repo_hook, read:user, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Validation Failed","errors":[{"message":"The listed users
        and repositories cannot be searched either because the resources do not exist
        or you do not have permission to view them.","resource":"Search","field":"q","code":"invalid"}],"documentation_url":"https://developer.github.com/v3/search/"}'
  recorded_at: Mon, 18 Nov 2019 20:32:47 GMT
[...]
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query MaintenanceStats__Queries__Github__IssuesQuery__ISSUES_QUERY($owner:
        String!, $repo_name: String!, $open_pr_query: String!, $closed_pr_query: String!,
        $one_year: GitTimestamp!) {\n  openPullRequests: search(query: $open_pr_query,
        type: ISSUE) {\n    issueCount\n  }\n  closedPullRequests: search(query: $closed_pr_query,
        type: ISSUE) {\n    issueCount\n  }\n  repository(owner: $owner, name: $repo_name)
        {\n    openIssues: issues(states: OPEN, filterBy: {since: $one_year}) {\n      totalCount\n    }\n    closedIssues:
        issues(states: CLOSED, filterBy: {since: $one_year}) {\n      totalCount\n    }\n  }\n}","variables":{"owner":"bad","repo_name":"example-for-testing","start_date":"2018-12-14T17:49:49+00:00","one_year":"2017-12-14T17:49:49+00:00","open_pr_query":"repo:bad/example-for-testing
        is:pr is:open created:>2017-12-14","closed_pr_query":"repo:bad/example-for-testing
        is:pr is:closed created:>2017-12-14"},"operationName":"MaintenanceStats__Queries__Github__IssuesQuery__ISSUES_QUERY"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1620232646'
      X-Ratelimit-Used:
      - '4'
      X-Ratelimit-Resource:
      - graphql
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"openPullRequests":{"issueCount":0},"closedPullRequests":{"issueCount":0},"repository":null},"errors":[{"type":"NOT_FOUND","path":["repository"],"locations":[{"line":8,"column":3}],"message":"Could
        not resolve to a Repository with the name ''bad/example-for-testing''."}]}'
  recorded_at: Wed, 05 May 2021 15:38:17 GMT
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query AuthToken__V4RateLimitQuery {\n  viewer {\n    login\n  }\n  rateLimit
        {\n    remaining\n  }\n}","operationName":"AuthToken__V4RateLimitQuery"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2023-02-13 19:01:57 UTC
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1675713756'
      X-Ratelimit-Used:
      - '21'
      X-Ratelimit-Resource:
      - graphql
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"viewer":{"login":"johnbintz-tidelift"},"rateLimit":{"remaining":4979}}}'
  recorded_at: Mon, 06 Feb 2023 19:10:28 GMT
- request:
    method: get
    uri: https://api.github.com/rate_limit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test_token
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2023-02-13 19:01:57 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4985'
      X-Ratelimit-Reset:
      - '1675712125'
      X-Ratelimit-Used:
      - '15'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"resources":{"core":{"limit":5000,"used":15,"remaining":4985,"reset":1675712125},"search":{"limit":30,"used":0,"remaining":30,"reset":1675710690},"graphql":{"limit":5000,"used":21,"remaining":4979,"reset":1675713756},"integration_manifest":{"limit":5000,"used":0,"remaining":5000,"reset":1675714230},"source_import":{"limit":100,"used":0,"remaining":100,"reset":1675710690},"code_scanning_upload":{"limit":1000,"used":0,"remaining":1000,"reset":1675714230},"actions_runner_registration":{"limit":10000,"used":0,"remaining":10000,"reset":1675714230},"scim":{"limit":15000,"used":0,"remaining":15000,"reset":1675714230},"dependency_snapshots":{"limit":100,"used":0,"remaining":100,"reset":1675710690}},"rate":{"limit":5000,"used":15,"remaining":4985,"reset":1675712125}}'
  recorded_at: Mon, 06 Feb 2023 19:10:30 GMT
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query MaintenanceStats__Queries__Github__RepoReleasesQuery__RELEASES_QUERY($owner:
        String!, $repo_name: String!, $cursor: String) {\n  repository(owner: $owner,
        name: $repo_name) {\n    releases(first: 100, after: $cursor, orderBy: {field:
        CREATED_AT, direction: DESC}) {\n      nodes {\n        name\n        publishedAt\n      }\n      totalCount\n      pageInfo
        {\n        hasPreviousPage\n        hasNextPage\n        endCursor\n        startCursor\n      }\n    }\n  }\n}","variables":{"owner":"bad","repo_name":"example-for-testing"},"operationName":"MaintenanceStats__Queries__Github__RepoReleasesQuery__RELEASES_QUERY"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2023-02-13 19:01:57 UTC
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4978'
      X-Ratelimit-Reset:
      - '1675713756'
      X-Ratelimit-Used:
      - '22'
      X-Ratelimit-Resource:
      - graphql
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"repository":null},"errors":[{"type":"NOT_FOUND","path":["repository"],"locations":[{"line":2,"column":3}],"message":"Could
        not resolve to a Repository with the name ''bad/example-for-testing''."}]}'
  recorded_at: Mon, 06 Feb 2023 19:10:30 GMT
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query MaintenanceStats__Queries__Github__CommitCountQuery__COMMIT_COUNTS_QUERY($owner:
        String!, $repo_name: String!, $one_week: GitTimestamp!, $one_month: GitTimestamp!,
        $two_months: GitTimestamp!, $one_year: GitTimestamp!) {\n  repository(owner:
        $owner, name: $repo_name) {\n    defaultBranchRef {\n      target {\n        __typename\n        ...
        on Commit {\n          latestCommit: history(first: 1) {\n            nodes
        {\n              committedDate\n            }\n          }\n          lastWeek:
        history(since: $one_week) {\n            totalCount\n          }\n          lastMonth:
        history(since: $one_month) {\n            totalCount\n          }\n          lastTwoMonths:
        history(since: $two_months) {\n            totalCount\n          }\n          lastYear:
        history(since: $one_year) {\n            totalCount\n          }\n        }\n      }\n      name\n    }\n  }\n}","variables":{"one_week":"2018-12-07T17:49:49+00:00","one_month":"2018-11-14T17:49:49+00:00","two_months":"2018-10-14T17:49:49+00:00","one_year":"2017-12-14T17:49:49+00:00","owner":"bad","repo_name":"example-for-testing"},"operationName":"MaintenanceStats__Queries__Github__CommitCountQuery__COMMIT_COUNTS_QUERY"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2023-02-13 19:01:57 UTC
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4977'
      X-Ratelimit-Reset:
      - '1675713756'
      X-Ratelimit-Used:
      - '23'
      X-Ratelimit-Resource:
      - graphql
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"repository":null},"errors":[{"type":"NOT_FOUND","path":["repository"],"locations":[{"line":2,"column":3}],"message":"Could
        not resolve to a Repository with the name ''bad/example-for-testing''."}]}'
  recorded_at: Mon, 06 Feb 2023 19:10:30 GMT
- request:
    method: get
    uri: https://api.github.com/repos/bad/example-for-testing/stats/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test_token
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2023-02-13 19:01:57 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
      X-Ratelimit-Reset:
      - '1675712125'
      X-Ratelimit-Used:
      - '16'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest/metrics/statistics#get-all-contributor-commit-activity"}'
  recorded_at: Mon, 06 Feb 2023 19:10:30 GMT
[...]
