---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/rate_limit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token faketoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4964'
      X-Ratelimit-Reset:
      - '1562691799'
      X-Oauth-Scopes:
      - notifications, read:discussion, read:gpg_key, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"resources":{"core":{"limit":5000,"remaining":4964,"reset":1562691799},"search":{"limit":30,"remaining":30,"reset":1562688259},"graphql":{"limit":5000,"remaining":5000,"reset":1562691799},"integration_manifest":{"limit":5000,"remaining":5000,"reset":1562691799}},"rate":{"limit":5000,"remaining":4964,"reset":1562691799}}'
  recorded_at: Tue, 09 Jul 2019 16:03:11 GMT
- request:
    method: get
    uri: https://api.github.com/repos/buddhamagnet/heidigoodchild
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token faketoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4963'
      X-Ratelimit-Reset:
      - '1562691799'
      Etag:
      - W/"4ee2f2ba163315c258c488af74fd9df0"
      Last-Modified:
      - Mon, 20 Feb 2017 17:13:25 GMT
      X-Oauth-Scopes:
      - notifications, read:discussion, read:gpg_key, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; param=drax-preview; format=json, github.mercy-preview; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":82582762,"node_id":"MDEwOlJlcG9zaXRvcnk4MjU4Mjc2Mg==","name":"heidigoodchild","full_name":"buddhamagnet/heidigoodchild","private":false,"owner":{"login":"buddhamagnet","id":35007,"node_id":"MDQ6VXNlcjM1MDA3","avatar_url":"https://avatars3.githubusercontent.com/u/35007?v=4","gravatar_id":"","url":"https://api.github.com/users/buddhamagnet","html_url":"https://github.com/buddhamagnet","followers_url":"https://api.github.com/users/buddhamagnet/followers","following_url":"https://api.github.com/users/buddhamagnet/following{/other_user}","gists_url":"https://api.github.com/users/buddhamagnet/gists{/gist_id}","starred_url":"https://api.github.com/users/buddhamagnet/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/buddhamagnet/subscriptions","organizations_url":"https://api.github.com/users/buddhamagnet/orgs","repos_url":"https://api.github.com/users/buddhamagnet/repos","events_url":"https://api.github.com/users/buddhamagnet/events{/privacy}","received_events_url":"https://api.github.com/users/buddhamagnet/received_events","type":"User","site_admin":false},"html_url":"https://github.com/buddhamagnet/heidigoodchild","description":null,"fork":false,"url":"https://api.github.com/repos/buddhamagnet/heidigoodchild","forks_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/forks","keys_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/keys{/key_id}","collaborators_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/teams","hooks_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/hooks","issue_events_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/issues/events{/number}","events_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/events","assignees_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/assignees{/user}","branches_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/branches{/branch}","tags_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/tags","blobs_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/git/refs{/sha}","trees_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/git/trees{/sha}","statuses_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/statuses/{sha}","languages_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/languages","stargazers_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/stargazers","contributors_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/contributors","subscribers_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/subscribers","subscription_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/subscription","commits_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/commits{/sha}","git_commits_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/git/commits{/sha}","comments_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/comments{/number}","issue_comment_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/issues/comments{/number}","contents_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/contents/{+path}","compare_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/compare/{base}...{head}","merges_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/merges","archive_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/downloads","issues_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/issues{/number}","pulls_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/pulls{/number}","milestones_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/milestones{/number}","notifications_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/labels{/name}","releases_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/releases{/id}","deployments_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/deployments","created_at":"2017-02-20T17:13:25Z","updated_at":"2017-02-20T17:13:25Z","pushed_at":"2017-02-20T17:13:26Z","git_url":"git://github.com/buddhamagnet/heidigoodchild.git","ssh_url":"git@github.com:buddhamagnet/heidigoodchild.git","clone_url":"https://github.com/buddhamagnet/heidigoodchild.git","svn_url":"https://github.com/buddhamagnet/heidigoodchild","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"topics":[],"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true},"network_count":0,"subscribers_count":1}'
  recorded_at: Tue, 09 Jul 2019 16:03:11 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/search/issues?per_page=100&q=repo:buddhamagnet/heidigoodchild%20type:issue
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token faketoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1562688260'
      X-Oauth-Scopes:
      - notifications, read:discussion, read:gpg_key, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":0,"incomplete_results":false,"items":[]}'
  recorded_at: Tue, 09 Jul 2019 16:03:12 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/search/issues?per_page=100&q=repo:buddhamagnet/heidigoodchild%20type:pr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token faketoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '28'
      X-Ratelimit-Reset:
      - '1562688260'
      X-Oauth-Scopes:
      - notifications, read:discussion, read:gpg_key, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":0,"incomplete_results":false,"items":[]}'
  recorded_at: Tue, 09 Jul 2019 16:03:12 GMT
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query AuthToken__V4RateLimitQuery {\n  viewer {\n    login\n  }\n  rateLimit
        {\n    remaining\n  }\n}","operationName":"AuthToken__V4RateLimitQuery"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer faketoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - notifications, read:discussion, read:gpg_key, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1562691800'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"viewer":{"login":"mikeyoung85"},"rateLimit":{"remaining":4999}}}'
  recorded_at: Tue, 09 Jul 2019 16:03:13 GMT
[...]
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query MaintenanceStats__Queries__Github__RepoReleasesQuery__RELEASES_QUERY($owner:
        String!, $repo_name: String!, $cursor: String) {\n  repository(owner: $owner,
        name: $repo_name) {\n    releases(first: 100, after: $cursor, orderBy: {field:
        CREATED_AT, direction: DESC}) {\n      nodes {\n        name\n        publishedAt\n      }\n      totalCount\n      pageInfo
        {\n        hasPreviousPage\n        hasNextPage\n        endCursor\n        startCursor\n      }\n    }\n  }\n}","variables":{"owner":"buddhamagnet","repo_name":"heidigoodchild"},"operationName":"MaintenanceStats__Queries__Github__RepoReleasesQuery__RELEASES_QUERY"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer faketoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - notifications, read:discussion, read:gpg_key, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1562691800'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"repository":{"releases":{"nodes":[],"totalCount":0,"pageInfo":{"hasPreviousPage":false,"hasNextPage":false,"endCursor":null,"startCursor":null}}}}}'
  recorded_at: Tue, 09 Jul 2019 16:03:14 GMT
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query MaintenanceStats__Queries__Github__CommitCountQuery__COMMIT_COUNTS_QUERY($owner:
        String!, $repo_name: String!, $start_date: GitTimestamp!) {\n  repository(owner:
        $owner, name: $repo_name) {\n    defaultBranchRef {\n      target {\n        __typename\n        ...
        on Commit {\n          history(since: $start_date) {\n            totalCount\n          }\n        }\n      }\n      name\n    }\n  }\n}","variables":{"owner":"buddhamagnet","repo_name":"heidigoodchild","start_date":"2018-12-07T17:49:49+00:00"},"operationName":"MaintenanceStats__Queries__Github__CommitCountQuery__COMMIT_COUNTS_QUERY"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer faketoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - notifications, read:discussion, read:gpg_key, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1562691800'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"repository":{"defaultBranchRef":null}}}'
  recorded_at: Tue, 09 Jul 2019 16:03:14 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/buddhamagnet/heidigoodchild/stats/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token faketoken
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/octet-stream
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4962'
      X-Ratelimit-Reset:
      - '1562691802'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 09 Jul 2019 16:03:14 GMT
- request:
    method: get
    uri: https://api.github.com/repos/buddhamagnet/heidigoodchild/stats/participation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token faketoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3876'
      X-Ratelimit-Reset:
      - '1562698364'
      Etag:
      - W/"653224116efa92a64eeee911dfb87b3e"
      X-Oauth-Scopes:
      - notifications, read:discussion, read:gpg_key, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"all":[],"owner":[]}'
  recorded_at: Tue, 09 Jul 2019 17:52:36 GMT
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query MaintenanceStats__Queries__Github__CommitCountQuery__COMMIT_COUNTS_QUERY($owner:
        String!, $name: String!, $one_week: GitTimestamp!, $one_month: GitTimestamp!,
        $two_months: GitTimestamp!, $one_year: GitTimestamp!) {\n  repository(owner:
        $owner, name: $name) {\n    defaultBranchRef {\n      target {\n        __typename\n        ...
        on Commit {\n          lastWeek: history(since: $one_week) {\n            totalCount\n          }\n          lastMonth:
        history(since: $one_month) {\n            totalCount\n          }\n          lastTwoMonths:
        history(since: $two_months) {\n            totalCount\n          }\n          lastYear:
        history(since: $one_year) {\n            totalCount\n          }\n        }\n      }\n      name\n    }\n  }\n}","variables":{"one_week":"2018-12-07T17:49:49+00:00","one_month":"2018-11-14T17:49:49+00:00","two_months":"2018-10-14T17:49:49+00:00","one_year":"2017-12-14T17:49:49+00:00","owner":"buddhamagnet","name":"heidigoodchild"},"operationName":"MaintenanceStats__Queries__Github__CommitCountQuery__COMMIT_COUNTS_QUERY"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - notifications, read:discussion, read:gpg_key, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1565107976'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"repository":{"defaultBranchRef":null}}}'
  recorded_at: Tue, 06 Aug 2019 15:12:56 GMT
[...]
