---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/buddhamagnet/heidigoodchild
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1574113732'
      Etag:
      - W/"164fcc295730f4f14839434b0837e1d3"
      Last-Modified:
      - Mon, 20 Feb 2017 17:13:25 GMT
      X-Oauth-Scopes:
      - read:discussion, read:enterprise, read:gpg_key, read:org, read:packages, read:public_key,
        read:repo_hook, read:user, repo, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; param=drax-preview; format=json, github.mercy-preview; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":82582762,"node_id":"MDEwOlJlcG9zaXRvcnk4MjU4Mjc2Mg==","name":"heidigoodchild","full_name":"buddhamagnet/heidigoodchild","private":false,"owner":{"login":"buddhamagnet","id":35007,"node_id":"MDQ6VXNlcjM1MDA3","avatar_url":"https://avatars3.githubusercontent.com/u/35007?v=4","gravatar_id":"","url":"https://api.github.com/users/buddhamagnet","html_url":"https://github.com/buddhamagnet","followers_url":"https://api.github.com/users/buddhamagnet/followers","following_url":"https://api.github.com/users/buddhamagnet/following{/other_user}","gists_url":"https://api.github.com/users/buddhamagnet/gists{/gist_id}","starred_url":"https://api.github.com/users/buddhamagnet/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/buddhamagnet/subscriptions","organizations_url":"https://api.github.com/users/buddhamagnet/orgs","repos_url":"https://api.github.com/users/buddhamagnet/repos","events_url":"https://api.github.com/users/buddhamagnet/events{/privacy}","received_events_url":"https://api.github.com/users/buddhamagnet/received_events","type":"User","site_admin":false},"html_url":"https://github.com/buddhamagnet/heidigoodchild","description":null,"fork":false,"url":"https://api.github.com/repos/buddhamagnet/heidigoodchild","forks_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/forks","keys_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/keys{/key_id}","collaborators_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/teams","hooks_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/hooks","issue_events_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/issues/events{/number}","events_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/events","assignees_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/assignees{/user}","branches_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/branches{/branch}","tags_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/tags","blobs_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/git/refs{/sha}","trees_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/git/trees{/sha}","statuses_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/statuses/{sha}","languages_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/languages","stargazers_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/stargazers","contributors_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/contributors","subscribers_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/subscribers","subscription_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/subscription","commits_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/commits{/sha}","git_commits_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/git/commits{/sha}","comments_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/comments{/number}","issue_comment_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/issues/comments{/number}","contents_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/contents/{+path}","compare_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/compare/{base}...{head}","merges_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/merges","archive_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/downloads","issues_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/issues{/number}","pulls_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/pulls{/number}","milestones_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/milestones{/number}","notifications_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/labels{/name}","releases_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/releases{/id}","deployments_url":"https://api.github.com/repos/buddhamagnet/heidigoodchild/deployments","created_at":"2017-02-20T17:13:25Z","updated_at":"2017-02-20T17:13:25Z","pushed_at":"2017-02-20T17:13:26Z","git_url":"git://github.com/buddhamagnet/heidigoodchild.git","ssh_url":"git@github.com:buddhamagnet/heidigoodchild.git","clone_url":"https://github.com/buddhamagnet/heidigoodchild.git","svn_url":"https://github.com/buddhamagnet/heidigoodchild","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"topics":[],"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true},"network_count":0,"subscribers_count":1}'
  recorded_at: Mon, 18 Nov 2019 20:48:52 GMT
- request:
    method: get
    uri: https://api.github.com/rate_limit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1574113732'
      X-Oauth-Scopes:
      - read:discussion, read:enterprise, read:gpg_key, read:org, read:packages, read:public_key,
        read:repo_hook, read:user, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"resources":{"core":{"limit":5000,"remaining":4997,"reset":1574113732},"search":{"limit":30,"remaining":30,"reset":1574110192},"graphql":{"limit":5000,"remaining":4984,"reset":1574113732},"integration_manifest":{"limit":5000,"remaining":5000,"reset":1574113732}},"rate":{"limit":5000,"remaining":4997,"reset":1574113732}}'
  recorded_at: Mon, 18 Nov 2019 20:48:52 GMT
- request:
    method: get
    uri: https://api.github.com/search/issues?per_page=100&q=repo:buddhamagnet/heidigoodchild%20type:issue
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1574110192'
      X-Oauth-Scopes:
      - read:discussion, read:enterprise, read:gpg_key, read:org, read:packages, read:public_key,
        read:repo_hook, read:user, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":0,"incomplete_results":false,"items":[]}'
  recorded_at: Mon, 18 Nov 2019 20:48:52 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/search/issues?per_page=100&q=repo:buddhamagnet/heidigoodchild%20type:pr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '28'
      X-Ratelimit-Reset:
      - '1574110192'
      X-Oauth-Scopes:
      - read:discussion, read:enterprise, read:gpg_key, read:org, read:packages, read:public_key,
        read:repo_hook, read:user, repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":0,"incomplete_results":false,"items":[]}'
  recorded_at: Mon, 18 Nov 2019 20:48:53 GMT
[...]
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query MaintenanceStats__Queries__Github__IssuesQuery__ISSUES_QUERY($owner:
        String!, $repo_name: String!, $open_pr_query: String!, $closed_pr_query: String!,
        $one_year: GitTimestamp!) {\n  openPullRequests: search(query: $open_pr_query,
        type: ISSUE) {\n    issueCount\n  }\n  closedPullRequests: search(query: $closed_pr_query,
        type: ISSUE) {\n    issueCount\n  }\n  repository(owner: $owner, name: $repo_name)
        {\n    openIssues: issues(states: OPEN, filterBy: {since: $one_year}) {\n      totalCount\n    }\n    closedIssues:
        issues(states: CLOSED, filterBy: {since: $one_year}) {\n      totalCount\n    }\n  }\n}","variables":{"owner":"buddhamagnet","repo_name":"heidigoodchild","start_date":"2018-12-14T17:49:49+00:00","one_year":"2017-12-14T17:49:49+00:00","open_pr_query":"repo:buddhamagnet/heidigoodchild
        is:pr is:open created:>2017-12-14","closed_pr_query":"repo:buddhamagnet/heidigoodchild
        is:pr is:closed created:>2017-12-14"},"operationName":"MaintenanceStats__Queries__Github__IssuesQuery__ISSUES_QUERY"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - public_repo, read:user, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1620232646'
      X-Ratelimit-Used:
      - '5'
      X-Ratelimit-Resource:
      - graphql
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"openPullRequests":{"issueCount":0},"closedPullRequests":{"issueCount":0},"repository":{"openIssues":{"totalCount":0},"closedIssues":{"totalCount":0}}}}'
  recorded_at: Wed, 05 May 2021 15:38:19 GMT
- request:
    method: get
    uri: https://api.github.com/repos/buddhamagnet/heidigoodchild/stats/participation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test_token
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cbd3e5548e1d8b23d25b8b29ba4281da4135f727119f0dba1a0d0b1d26ad7bf6"
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2023-02-13 19:01:57 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1675712125'
      X-Ratelimit-Used:
      - '3'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"all":[],"owner":[]}'
  recorded_at: Mon, 06 Feb 2023 19:08:46 GMT
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query AuthToken__V4RateLimitQuery {\n  viewer {\n    login\n  }\n  rateLimit
        {\n    remaining\n  }\n}","operationName":"AuthToken__V4RateLimitQuery"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2023-02-13 19:01:57 UTC
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4975'
      X-Ratelimit-Reset:
      - '1675713756'
      X-Ratelimit-Used:
      - '25'
      X-Ratelimit-Resource:
      - graphql
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"viewer":{"login":"johnbintz-tidelift"},"rateLimit":{"remaining":4975}}}'
  recorded_at: Mon, 06 Feb 2023 19:10:32 GMT
- request:
    method: get
    uri: https://api.github.com/rate_limit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test_token
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2023-02-13 19:01:57 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
      X-Ratelimit-Reset:
      - '1675712125'
      X-Ratelimit-Used:
      - '16'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"resources":{"core":{"limit":5000,"used":16,"remaining":4984,"reset":1675712125},"search":{"limit":30,"used":0,"remaining":30,"reset":1675710693},"graphql":{"limit":5000,"used":25,"remaining":4975,"reset":1675713756},"integration_manifest":{"limit":5000,"used":0,"remaining":5000,"reset":1675714233},"source_import":{"limit":100,"used":0,"remaining":100,"reset":1675710693},"code_scanning_upload":{"limit":1000,"used":0,"remaining":1000,"reset":1675714233},"actions_runner_registration":{"limit":10000,"used":0,"remaining":10000,"reset":1675714233},"scim":{"limit":15000,"used":0,"remaining":15000,"reset":1675714233},"dependency_snapshots":{"limit":100,"used":0,"remaining":100,"reset":1675710693}},"rate":{"limit":5000,"used":16,"remaining":4984,"reset":1675712125}}'
  recorded_at: Mon, 06 Feb 2023 19:10:33 GMT
[...]
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query MaintenanceStats__Queries__Github__CommitCountQuery__COMMIT_COUNTS_QUERY($owner:
        String!, $repo_name: String!, $one_week: GitTimestamp!, $one_month: GitTimestamp!,
        $two_months: GitTimestamp!, $one_year: GitTimestamp!) {\n  repository(owner:
        $owner, name: $repo_name) {\n    defaultBranchRef {\n      target {\n        __typename\n        ...
        on Commit {\n          latestCommit: history(first: 1) {\n            nodes
        {\n              committedDate\n            }\n          }\n          lastWeek:
        history(since: $one_week) {\n            totalCount\n          }\n          lastMonth:
        history(since: $one_month) {\n            totalCount\n          }\n          lastTwoMonths:
        history(since: $two_months) {\n            totalCount\n          }\n          lastYear:
        history(since: $one_year) {\n            totalCount\n          }\n        }\n      }\n      name\n    }\n  }\n}","variables":{"one_week":"2018-12-07T17:49:49+00:00","one_month":"2018-11-14T17:49:49+00:00","two_months":"2018-10-14T17:49:49+00:00","one_year":"2017-12-14T17:49:49+00:00","owner":"buddhamagnet","repo_name":"heidigoodchild"},"operationName":"MaintenanceStats__Queries__Github__CommitCountQuery__COMMIT_COUNTS_QUERY"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2023-02-13 19:01:57 UTC
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4973'
      X-Ratelimit-Reset:
      - '1675713756'
      X-Ratelimit-Used:
      - '27'
      X-Ratelimit-Resource:
      - graphql
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"repository":{"defaultBranchRef":null}}}'
  recorded_at: Mon, 06 Feb 2023 19:10:33 GMT
- request:
    method: get
    uri: https://api.github.com/repos/buddhamagnet/heidigoodchild/stats/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test_token
  response:
    status:
      code: 204
      message: ''
    headers:
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '1675712125'
      X-Ratelimit-Used:
      - '17'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 06 Feb 2023 19:10:33 GMT
[...]
