---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query AuthToken__V4RateLimitQuery {\n  viewer {\n    login\n  }\n  rateLimit
        {\n    remaining\n  }\n}","operationName":"AuthToken__V4RateLimitQuery"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - notifications, read:discussion, read:gpg_key, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
      X-Ratelimit-Reset:
      - '1544822736'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"viewer":{"login":"mikeyoung85"},"rateLimit":{"remaining":4984}}}'
  recorded_at: Fri, 14 Dec 2018 20:54:16 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/rate_limit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4974'
      X-Ratelimit-Reset:
      - '1544822149'
      X-Oauth-Scopes:
      - notifications, read:discussion, read:gpg_key, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"resources":{"core":{"limit":5000,"remaining":4974,"reset":1544822149},"search":{"limit":30,"remaining":30,"reset":1544820917},"graphql":{"limit":5000,"remaining":4983,"reset":1544822736}},"rate":{"limit":5000,"remaining":4974,"reset":1544822149}}'
  recorded_at: Fri, 14 Dec 2018 20:54:17 GMT
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query MaintenanceStats__FullRepoQuery__FullRepoQuery($owner:
        String!, $repo_name: String!) {\n  repository(owner: $owner, name: $repo_name)
        {\n    nameWithOwner\n    defaultBranchRef {\n      name\n      target {\n        __typename\n        ...
        on Commit {\n          history(first: 50) {\n            edges {\n              node
        {\n                authoredDate\n              }\n            }\n          }\n        }\n      }\n    }\n    closedIssues:
        issues(states: CLOSED) {\n      totalCount\n    }\n    openIssues: issues(states:
        OPEN) {\n      totalCount\n    }\n    closedPullRequests: pullRequests(states:
        CLOSED) {\n      totalCount\n    }\n    openPullRequests: pullRequests(states:
        OPEN) {\n      totalCount\n    }\n    mergedPullRequests: pullRequests(states:
        MERGED) {\n      totalCount\n    }\n    releases(last: 1) {\n      nodes {\n        publishedAt\n      }\n    }\n  }\n}","variables":{"owner":"buddhamagnet","repo_name":"heidigoodchild"},"operationName":"MaintenanceStats__FullRepoQuery__FullRepoQuery"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - notifications, read:discussion, read:gpg_key, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4982'
      X-Ratelimit-Reset:
      - '1544822736'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"repository":{"nameWithOwner":"buddhamagnet/heidigoodchild","defaultBranchRef":null,"closedIssues":{"totalCount":0},"openIssues":{"totalCount":0},"closedPullRequests":{"totalCount":0},"openPullRequests":{"totalCount":0},"mergedPullRequests":{"totalCount":0},"releases":{"nodes":[]}}}}'
  recorded_at: Fri, 14 Dec 2018 20:54:18 GMT
- request:
    method: get
    uri: https://api.github.com/repos/buddhamagnet/heidigoodchild/contributors?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test_token
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/octet-stream
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4973'
      X-Ratelimit-Reset:
      - '1544822149'
      X-Oauth-Scopes:
      - notifications, read:discussion, read:gpg_key, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 14 Dec 2018 20:54:18 GMT
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query MaintenanceStats__RepoReleasesQuery__ReleasesQuery($owner:
        String!, $repo_name: String!, $cursor: String) {\n  repository(owner: $owner,
        name: $repo_name) {\n    releases(first: 100, after: $cursor, orderBy: {field:
        CREATED_AT, direction: DESC}) {\n      nodes {\n        name\n        publishedAt\n      }\n      totalCount\n      pageInfo
        {\n        hasPreviousPage\n        hasNextPage\n        endCursor\n        startCursor\n      }\n    }\n  }\n}","variables":{"owner":"buddhamagnet","repo_name":"heidigoodchild"},"operationName":"MaintenanceStats__RepoReleasesQuery__ReleasesQuery"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - notifications, read:discussion, read:gpg_key, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4981'
      X-Ratelimit-Reset:
      - '1544822736'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"repository":{"releases":{"nodes":[],"totalCount":0,"pageInfo":{"hasPreviousPage":false,"hasNextPage":false,"endCursor":null,"startCursor":null}}}}}'
  recorded_at: Fri, 14 Dec 2018 20:54:18 GMT
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query MaintenanceStats__CommitCountQuery__CommitCountsQuery($owner:
        String!, $repo_name: String!, $start_date: GitTimestamp!) {\n  repository(owner:
        $owner, name: $repo_name) {\n    defaultBranchRef {\n      target {\n        __typename\n        ...
        on Commit {\n          history(since: $start_date) {\n            totalCount\n          }\n        }\n      }\n      name\n    }\n  }\n}","variables":{"owner":"buddhamagnet","repo_name":"heidigoodchild","start_date":"2018-12-07T17:49:49+00:00"},"operationName":"MaintenanceStats__CommitCountQuery__CommitCountsQuery"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - notifications, read:discussion, read:gpg_key, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4980'
      X-Ratelimit-Reset:
      - '1544822736'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"repository":{"defaultBranchRef":null}}}'
  recorded_at: Fri, 14 Dec 2018 20:54:18 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/buddhamagnet/heidigoodchild/stats/participation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4972'
      X-Ratelimit-Reset:
      - '1544822149'
      Etag:
      - W/"653224116efa92a64eeee911dfb87b3e"
      X-Oauth-Scopes:
      - notifications, read:discussion, read:gpg_key, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"all":[],"owner":[]}'
  recorded_at: Fri, 14 Dec 2018 20:54:19 GMT
recorded_with: VCR 4.0.0
