---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/rate_limit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1548881722'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"resources":{"core":{"limit":5000,"remaining":4992,"reset":1548881722},"search":{"limit":30,"remaining":30,"reset":1548879215},"graphql":{"limit":5000,"remaining":5000,"reset":1548882755},"integration_manifest":{"limit":5000,"remaining":5000,"reset":1548882755}},"rate":{"limit":5000,"remaining":4992,"reset":1548881722}}'
  recorded_at: Wed, 30 Jan 2019 20:12:35 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/librariesio/gem_parser/stats/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1548881722'
      Etag:
      - W/"7355906d88a90fa9016830717bf8f281"
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"total":1,"weeks":[{"w":1431216000,"a":0,"d":0,"c":0},{"w":1431820800,"a":0,"d":0,"c":0},{"w":1432425600,"a":0,"d":0,"c":0},{"w":1433030400,"a":0,"d":0,"c":0},{"w":1433635200,"a":0,"d":0,"c":0},{"w":1434240000,"a":0,"d":0,"c":0},{"w":1434844800,"a":0,"d":0,"c":0},{"w":1435449600,"a":0,"d":0,"c":0},{"w":1436054400,"a":0,"d":0,"c":0},{"w":1436659200,"a":0,"d":0,"c":0},{"w":1437264000,"a":0,"d":0,"c":0},{"w":1437868800,"a":0,"d":0,"c":0},{"w":1438473600,"a":0,"d":0,"c":0},{"w":1439078400,"a":0,"d":0,"c":0},{"w":1439[...]
