---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/rate_limit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1548881722'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"resources":{"core":{"limit":5000,"remaining":4992,"reset":1548881722},"search":{"limit":30,"remaining":30,"reset":1548879215},"graphql":{"limit":5000,"remaining":5000,"reset":1548882755},"integration_manifest":{"limit":5000,"remaining":5000,"reset":1548882755}},"rate":{"limit":5000,"remaining":4992,"reset":1548881722}}'
  recorded_at: Wed, 30 Jan 2019 20:12:35 GMT
- request:
    method: get
    uri: https://api.github.com/rate_limit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test_token
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2023-02-13 19:01:57 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1675712125'
      X-Ratelimit-Used:
      - '9'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"resources":{"core":{"limit":5000,"used":9,"remaining":4991,"reset":1675712125},"search":{"limit":30,"used":0,"remaining":30,"reset":1675710598},"graphql":{"limit":5000,"used":5,"remaining":4995,"reset":1675713756},"integration_manifest":{"limit":5000,"used":0,"remaining":5000,"reset":1675714139},"source_import":{"limit":100,"used":0,"remaining":100,"reset":1675710599},"code_scanning_upload":{"limit":1000,"used":0,"remaining":1000,"reset":1675714139},"actions_runner_registration":{"limit":10000,"used":0,"remaining":10000,"reset":1675714139},"scim":{"limit":15000,"used":0,"remaining":15000,"reset":1675714139},"dependency_snapshots":{"limit":100,"used":0,"remaining":100,"reset":1675710599}},"rate":{"limit":5000,"used":9,"remaining":4991,"reset":1675712125}}'
  recorded_at: Mon, 06 Feb 2023 19:08:59 GMT
- request:
    method: get
    uri: https://api.github.com/repos/librariesio/gem_parser/stats/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test_token
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2023-02-13 19:01:57 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1675712125'
      X-Ratelimit-Used:
      - '10'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Mon, 06 Feb 2023 19:08:59 GMT
- request:
    method: get
    uri: https://api.github.com/repos/librariesio/gem_parser/stats/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test_token
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3939f975ffdd3dac74fabaec7813bd3e4766f5d8baa76544a9a13e31db85f796"
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2023-02-13 19:01:57 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1675712125'
      X-Ratelimit-Used:
      - '11'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"total":1,"weeks":[{"w":1431216000,"a":0,"d":0,"c":0},{"w":1431820800,"a":0,"d":0,"c":0},{"w":1432425600,"a":0,"d":0,"c":0},{"w":1433030400,"a":0,"d":0,"c":0},{"w":1433635200,"a":0,"d":0,"c":0},{"w":1434240000,"a":0,"d":0,"c":0},{"w":1434844800,"a":0,"d":0,"c":0},{"w":1435449600,"a":0,"d":0,"c":0},{"w":1436054400,"a":0,"d":0,"c":0},{"w":1436659200,"a":0,"d":0,"c":0},{"w":1437264000,"a":0,"d":0,"c":0},{"w":1437868800,"a":0,"d":0,"c":0},{"w":1438473600,"a":0,"d":0,"c":0},{"w":1439078400,"a":0,"d":0,"c":0},{"w":1439[...]
