---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query AuthToken__V4RateLimitQuery {\n  viewer {\n    login\n  }\n  rateLimit
        {\n    remaining\n  }\n}","operationName":"AuthToken__V4RateLimitQuery"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - notifications, read:discussion, read:gpg_key, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4977'
      X-Ratelimit-Reset:
      - '1545166369'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"viewer":{"login":"mikeyoung85"},"rateLimit":{"remaining":4977}}}'
  recorded_at: Tue, 18 Dec 2018 20:42:56 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/rate_limit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4968'
      X-Ratelimit-Reset:
      - '1545166515'
      X-Oauth-Scopes:
      - notifications, read:discussion, read:gpg_key, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"resources":{"core":{"limit":5000,"remaining":4968,"reset":1545166515},"search":{"limit":30,"remaining":30,"reset":1545165838},"graphql":{"limit":5000,"remaining":4976,"reset":1545166369}},"rate":{"limit":5000,"remaining":4968,"reset":1545166515}}'
  recorded_at: Tue, 18 Dec 2018 20:42:58 GMT
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query MaintenanceStats__Queries__FullRepoQuery__FullRepoQuery($owner:
        String!, $repo_name: String!) {\n  repository(owner: $owner, name: $repo_name)
        {\n    nameWithOwner\n    defaultBranchRef {\n      name\n      target {\n        __typename\n        ...
        on Commit {\n          history(first: 50) {\n            edges {\n              node
        {\n                authoredDate\n              }\n            }\n          }\n        }\n      }\n    }\n    closedIssues:
        issues(states: CLOSED) {\n      totalCount\n    }\n    openIssues: issues(states:
        OPEN) {\n      totalCount\n    }\n    closedPullRequests: pullRequests(states:
        CLOSED) {\n      totalCount\n    }\n    openPullRequests: pullRequests(states:
        OPEN) {\n      totalCount\n    }\n    mergedPullRequests: pullRequests(states:
        MERGED) {\n      totalCount\n    }\n    releases(last: 1) {\n      nodes {\n        publishedAt\n      }\n    }\n  }\n}","variables":{"owner":"rails","repo_name":"rails"},"operationName":"MaintenanceStats__Queries__FullRepoQuery__FullRepoQuery"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - notifications, read:discussion, read:gpg_key, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4975'
      X-Ratelimit-Reset:
      - '1545166369'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"repository":{"nameWithOwner":"rails/rails","defaultBranchRef":{"name":"master","target":{"__typename":"Commit","history":{"edges":[{"node":{"authoredDate":"2018-12-18T20:13:05Z"}},{"node":{"authoredDate":"2018-12-18T20:07:43Z"}},{"node":{"authoredDate":"2018-12-18T18:33:48Z"}},{"node":{"authoredDate":"2018-12-18T18:25:35Z"}},{"node":{"authoredDate":"2018-12-18T15:54:12Z"}},{"node":{"authoredDate":"2018-12-18T09:34:14Z"}},{"node":{"authoredDate":"2018-12-18T02:18:18Z"}},{"node":{"authoredDate":"2018-12-17T22:16:55Z"}},{"node":{"authoredDate":"2018-12-17T22:06:45Z"}},{"node":{"authoredDate":"2018-12-17T21:10:26Z"}},{"node":{"authoredDate":"2018-12-1[...]
- request:
    method: get
    uri: https://api.github.com/repos/rails/rails/contributors?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4967'
      X-Ratelimit-Reset:
      - '1545166515'
      Etag:
      - W/"9f50c802e7b746f364cd3b0ed91d80d0"
      Last-Modified:
      - Tue, 18 Dec 2018 20:15:17 GMT
      X-Oauth-Scopes:
      - notifications, read:discussion, read:gpg_key, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/8514/contributors?per_page=100&page=2>;
        rel="next", <https://api.github.com/repositories/8514/contributors?per_page=100&page=4>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"rafaelfranca","id":47848,"node_id":"MDQ6VXNlcjQ3ODQ4","avatar_url":"https://avatars3.githubusercontent.com/u/47848?v=4","gravatar_id":"","url":"https://api.github.com/users/rafaelfranca","html_url":"https://github.com/rafaelfranca","followers_url":"https://api.github.com/users/rafaelfranca/followers","following_url":"https://api.github.com/users/rafaelfranca/following{/other_user}","gists_url":"https://api.github.com/users/rafaelfranca/gists{/gist_id}","starred_url":"https://api.github.com/users/rafaelfranca/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rafaelfranca/subscriptions","organizations_url":"https://api.github.com/users/rafaelfranca/orgs","repos_url":"https://api.github.com/users/rafaelfranca/repos","events_url":"https://api.github.com/users/rafaelfranca/events{/privacy}","received_events_url":"https://api.github.com/users/rafaelfranca/received_events","type":"User","site_admin":false,"contributions":5879},{"login":"tenderlove","id":3124,"node_id":"MDQ6VXNlcjMxMjQ=","avatar_url":"https://avatars1.githubusercontent.com/u/3124?v=4","gravatar_id":"","url":"https://api.github.com/users/tenderlove","html_url":"https://github.com/tenderlove","followers_url":"https://api.github.com/users/tenderlove/followers","following_url":"https://api.github.com/users/tenderlove/following{/other_user}","gists_url":"https://api.github.com/users/tenderlove/gists{/gist_id}","starred_url":"https://api.github.com/use[...]
- request:
    method: get
    uri: https://api.github.com/repositories/8514/contributors?page=2&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
     [...]
[...]
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query MaintenanceStats__Queries__RepoReleasesQuery__ReleasesQuery($owner:
        String!, $repo_name: String!, $cursor: String) {\n  repository(owner: $owner,
        name: $repo_name) {\n    releases(first: 100, after: $cursor, orderBy: {field:
        CREATED_AT, direction: DESC}) {\n      nodes {\n        name\n        publishedAt\n      }\n      totalCount\n      pageInfo
        {\n        hasPreviousPage\n        hasNextPage\n        endCursor\n        startCursor\n      }\n    }\n  }\n}","variables":{"owner":"rails","repo_name":"rails"},"operationName":"MaintenanceStats__Queries__RepoReleasesQuery__ReleasesQuery"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - notifications, read:discussion, read:gpg_key, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4974'
      X-Ratelimit-Reset:
      - '1545166369'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"repository":{"releases":{"nodes":[{"name":"5.2.2","publishedAt":"2018-12-04T18:17:39Z"}],"totalCount":1,"pageInfo":{"hasPreviousPage":false,"hasNextPage":false,"endCursor":"Y3Vyc29yOnYyOpK5MjAxOC0xMi0wNFQxMzoxMjoyMi0wNTowMM4A2uTz","startCursor":"Y3Vyc29yOnYyOpK5MjAxOC0xMi0wNFQxMzoxMjoyMi0wNTowMM4A2uTz"}}}}}'
  recorded_at: Tue, 18 Dec 2018 20:43:07 GMT
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query MaintenanceStats__Queries__CommitCountQuery__CommitCountsQuery($owner:
        String!, $repo_name: String!, $start_date: GitTimestamp!) {\n  repository(owner:
        $owner, name: $repo_name) {\n    defaultBranchRef {\n      target {\n        __typename\n        ...
        on Commit {\n          history(since: $start_date) {\n            totalCount\n          }\n        }\n      }\n      name\n    }\n  }\n}","variables":{"owner":"rails","repo_name":"rails","start_date":"2018-12-07T17:49:49+00:00"},"operationName":"MaintenanceStats__Queries__CommitCountQuery__CommitCountsQuery"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - notifications, read:discussion, read:gpg_key, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4973'
      X-Ratelimit-Reset:
      - '1545166369'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"repository":{"defaultBranchRef":{"target":{"__typename":"Commit","history":{"totalCount":65}},"name":"master"}}}}'
  recorded_at: Tue, 18 Dec 2018 20:43:07 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/rails/rails/stats/participation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4963'
      X-Ratelimit-Reset:
      - '1545166515'
      Etag:
      - W/"747e6f431ea611fef1a4caa24060d212"
      X-Oauth-Scopes:
      - notifications, read:discussion, read:gpg_key, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"all":[63,57,54,65,46,82,62,59,96,75,86,53,59,52,62,98,61,131,78,56,33,37,57,50,48,40,50,73,54,38,73,56,51,64,88,73,77,68,95,68,106,103,54,79,64,37,47,47,60,78,52,40],"owner":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]}'
  recorded_at: Tue, 18 Dec 2018 20:43:08 GMT
- request:
    method: get
    uri: https://api.github.com/repos/rails/rails/stats/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 202 Accepted
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4981'
      X-Ratelimit-Reset:
      - '1548881722'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Wed, 30 Jan 2019 20:29:51 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/rails/rails/stats/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4968'
      X-Ratelimit-Reset:
      - '1548881722'
      Etag:
      - W/"a4e7a1eb2b2924949620c08b8c8aa2d7"
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"total":47,"weeks":[{"w":1100995200,"a":0,"d":0,"c":0},{"w":1101600000,"a":0,"d":0,"c":0},{"w":1102204800,"a":0,"d":0,"c":0},{"w":1102809600,"a":0,"d":0,"c":0},{"w":1103414400,"a":0,"d":0,"c":0},{"w":1104019200,"a":0,"d":0,"c":0},{"w":1104624000,"a":0,"d":0,"c":0},{"w":1105228800,"a":0,"d":0,"c":0},{"w":1105833600,"a":0,"d":0,"c":0},{"w":1106438400,"a":0,"d":0,"c":0},{"w":1107043200,"a":0,"d":0,"c":0},{"w":1107648000,"a":0,"d":0,"c":0},{"w":1108252800,"a":0,"d":0,"c":0},{"w":1108857600,"a":0,"d":0,"c":0},{"w":1109[...]
