---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/rate_limit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1548881722'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"resources":{"core":{"limit":5000,"remaining":4987,"reset":1548881722},"search":{"limit":30,"remaining":30,"reset":1548879399},"graphql":{"limit":5000,"remaining":5000,"reset":1548882939},"integration_manifest":{"limit":5000,"remaining":5000,"reset":1548882939}},"rate":{"limit":5000,"remaining":4987,"reset":1548881722}}'
  recorded_at: Wed, 30 Jan 2019 20:15:39 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/vuejs/vue/stats/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
      X-Ratelimit-Reset:
      - '1548881722'
      Etag:
      - W/"6d900a81176ee669850a33810c7c94d5"
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"total":1,"weeks":[{"w":1460246400,"a":0,"d":0,"c":0},{"w":1460851200,"a":0,"d":0,"c":0},{"w":1461456000,"a":0,"d":0,"c":0},{"w":1462060800,"a":0,"d":0,"c":0},{"w":1462665600,"a":0,"d":0,"c":0},{"w":1463270400,"a":0,"d":0,"c":0},{"w":1463875200,"a":0,"d":0,"c":0},{"w":1464480000,"a":0,"d":0,"c":0},{"w":1465084800,"a":0,"d":0,"c":0},{"w":1465689600,"a":0,"d":0,"c":0},{"w":1466294400,"a":0,"d":0,"c":0},{"w":1466899200,"a":0,"d":0,"c":0},{"w":1467504000,"a":0,"d":0,"c":0},{"w":1468108800,"a":0,"d":0,"c":0},{"w":1468[...]
- request:
    method: get
    uri: https://api.github.com/repos/vuejs/vue/issues?per_page=100&since=2018-12-14T17:49:49Z&state=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token test_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4791'
      X-Ratelimit-Reset:
      - '1550681133'
      Etag:
      - W/"a806a2122d12503fbd5f03ab090b18b6"
      X-Oauth-Scopes:
      - notifications, read:discussion, read:gpg_key, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/11730342/issues?per_page=100&since=2018-12-14T17%3A49%3A49Z&state=all&page=2>;
        rel="next", <https://api.github.com/repositories/11730342/issues?per_page=100&since=2018-12-14T17%3A49%3A49Z&state=all&page=6>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        W3sidXJsIjoiaHR0cHM6Ly9hcGkuZ2l0aHViLmNvbS9yZXBvcy92dWVqcy92dWUvaXNzdWVzLzk1MzUiLCJyZXBvc2l0b3J5X3VybCI6Imh0dHBzOi8vYXBpLmdpdGh1Yi5jb20vcmVwb3MvdnVlan[...]
