<%= render 'admin/nav' %>
<div class="row">
  <div class="col-md-10">
    <h1>Unmaintained Github repos</h1>
    <%= page_entries_info @github_repositories %>
    <%= render @github_repositories %>
    <%= will_paginate @github_repositories, page_links: false %>
  </div>
</div>
