<% if keyword['key'].present? %>
  <div class='keyword col-xs-6 col-sm-4 col-md-4'>
    <h4>
      <div class="blurb">
        <%= link_to keyword['key'], keyword_path(keyword['key']) %>
        <small><%= number_to_human keyword['doc_count'] %> Packages</small>
      </div>
    </h4>
  </div>
<% end %>
