<% title "Keywords - Libraries.io" %>
<% description "All the Keywords that projects have been tagged with" %>
<h1>
  <%= fa_icon 'tags' %>
  Keywords
</h1>
<hr>
<div class='row'>
  <div class="col-md-8">
    <div class="row">
      <%= render partial: 'keyword', collection: @keywords %>
    </div>
  </div>
  <div class="col-md-4">

  </div>
</div>
