<% title "Keywords - Libraries" %>
<% description "All the Keywords that projects have been tagged with" %>
<h1>Keywords</h1><hr>
<div class='row'>
  <%= render partial: 'keyword', collection: @keywords %>
</div>
