---
http_interactions:
- request:
    method: get
    uri: https://maven.google.com/com/google/android/games/group-index.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: ''
    headers:
      Location:
      - https://dl.google.com/dl/android/maven2/com/google/android/games/group-index.xml
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>301
        Moved</TITLE></HEAD><BODY>\n<H1>301 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://dl.google.com/dl/android/maven2/com/google/android/games/group-index.xml\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Tue, 14 Nov 2023 20:26:51 GMT
- request:
    method: get
    uri: https://dl.google.com/dl/android/maven2/com/google/android/games/group-index.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Disposition:
      - attachment
      Last-Modified:
      - Fri, 15 Oct 2021 16:16:22 GMT
      Etag:
      - '"adc662"'
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version='1.0' encoding='UTF-8'?>
        <com.google.android.games>
          <memory-advice versions="0.13,0.14,0.15,0.22,0.23,0.24"/>
          <memory-advice-common versions="0.13,0.14,0.15,0.22,0.23,0.24"/>
        </com.google.android.games>
  recorded_at: Tue, 14 Nov 2023 20:26:51 GMT
- request:
    method: get
    uri: https://dl.google.com/dl/android/maven2/com/google/android/games/memory-advice/0.24/memory-advice-0.24.pom
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/octet-stream
      Etag:
      - '"adc642"'
      Last-Modified:
      - Fri, 15 Oct 2021 16:16:22 GMT
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <project xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd" xmlns="http://maven.apache.org/POM/4.0.0"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
          <!-- This module was also published with a richer model, Gradle metadata,  -->
          <!-- which should be used instead. Do not delete the following line which  -->
          <!-- is to indicate to Gradle or any Gradle module metadata file consumer  -->
          <!-- that they should prefer consuming it instead. -->
          <!-- do_not_remove: published-with-gradle-metadata -->
          <modelVersion>4.0.0</modelVersion>
          <groupId>com.google.android.games</groupId>
          <artifactId>memory-advice</artifactId>
          <version>0.24</version>
          <packaging>aar</packaging>
          <name>The Android Memory Assistance API</name>
          <description>An experimental library to help applications avoid exceeding safe limits of memory use on devices.</description>
          <url>https://android.googlesource.com/platform/frameworks/opt/gamesdk/+/refs/heads/master/test/memoryadvice</url>
          <licenses>
            <license>
              <name>The Apache Software License, Version 2.0</name>
              <url>http://www.apache.org/licenses/LICENSE-2.0.txt</url>
              <distribution>repo</distribution>
            </license>
          </licenses>
          <dependencies>
            <dependency>
              <groupId>com.google.android.games</groupId>
              <artifactId>memory-advice-common</artifactId>
              <version>0.24</version>
              <scope>runtime</scope>
            </dependency>
            <dependency>
              <groupId>androidx.lifecycle</groupId>
              <artifactId>lifecycle-extensions</artifactId>
              <version>2.2.0</version>
              <scope>runtime</scope>
            </dependency>
            <dependency>
              <groupId>androidx.multidex</groupId>
              <artifactId>multidex</artifactId>
              <version>2.0.1</version>
              <scope>runtime</scope>
            </dependency>
            <dependency>
              <groupId>com.fasterxml.jackson.core</groupId>
              <artifactId>jackson-databind</artifactId>
              <version>2.12.2</version>
              <scope>runtime</scope>
            </dependency>
            <dependency>
              <groupId>org.tensorflow</groupId>
              <artifactId>tensorflow-lite</artifactId>
              <version>2.4.0</version>
              <scope>runtime</scope>
            </dependency>
          </dependencies>
        </project>
  recorded_at: Tue, 14 Nov 2023 20:26:52 GMT
[...]
