<% if @tree %>
  <% cache ['tree', @project, @version, @kind, @date].compact, expires_in: 1.day do  %>
    <div class="col-sm-8">
      <div class="tree">
        <ul class="top-level">
          <%= render 'dep', dep: @tree %>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <div>
        <p class="h4">Unique dependencies:</p>
        <p class="h1"><%= @project_names.uniq.length %></p>
        <hr/>
        <p class="h4">Unique licenses:</p>
        <p class="h1"><%= @license_names.flatten.uniq.length %></p>
        <p class="h5"><%= @license_names.flatten.uniq.sort.join(', ') %></p>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="col-12">
    <h3 class='text-center'>
      <i class="fa fa-refresh fa-spin"></i>
      Generating dependency tree...
    </h3>
  </div>
  <script type="text/javascript">
    setTimeout(function() {
      $.get(window.location, function(data) {
        $('#tree').html(data);
        stickFooter()
      });
    }, 1000)
  </script>
<% end %>
