<h1>Reverse Dependency Tree for <%= link_to @project, project_path(@project.to_param) %> on <%= link_to @project.platform, platform_path(@project.platform) %> </h1>

<% version = @project.latest_version %>
<% project = @project %>
<% @project_names = [@project.name] %>
<% @license_names = @project.normalize_licenses %>

<ul class='tree'>
  <%= render partial: 'tree/reverse_dependency', locals: {project: project, index: 0} %>
</ul>
