---
http_interactions:
- request:
    method: get
    uri: https://conda.libraries.io/package/shap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"versions":[{"artifact":"shap-0.39.0-py310h00e6091_0.tar.bz2","download_url":"https://repo.anaconda.com/pkgs/main/linux-64/shap-0.39.0-py310h00e6091_0.tar.bz2","number":"0.39.0","original_license":"MIT","published_at":"2021-12-29
        21:22:44 +0000","dependencies":["cloudpickle","colorama","libgcc-ng >=7.5.0","libstdcxx-ng
        >=7.5.0","numba","numpy <2.0a0","pandas","python >=3.10,<3.11.0a0","scikit-learn","scipy","slicer
        0.0.7.*","tqdm >4.25.0"],"arch":"linux-64","channel":"main"},{"artifact":"shap-0.41.0-py310h1128e8f_0.tar.bz2","download_url":"https://repo.anaconda.com/pkgs/main/linux-64/shap-0.41.0-py310h1128e8f_0.tar.bz2","number":"0.41.0","original_license":"MIT","published_at":"2022-11-17
        20:02:07 +0000","dependencies":["cloudpickle","libgcc-ng >=11.2.0","libstdcxx-ng
        >=11.2.0","numba","numpy <2.0a0","packaging >20.9","pandas","python >=3.10,<3.11.0a0","scikit-learn","scipy","slicer
        0.0.7.*","tqdm >4.25.0"],"arch":"linux-64","channel"[...]
