<a href="<%= repository_user.repository_url %>" title="<%= repository_user %>">
  <%= image_tag(repository_user.avatar_url(120), width: 60, height: 60, alt: repository_user, class: 'pull-left') %>
</a>
