<div class="row">
  <div class="col-sm-8">
    <h2>Oh no!  We've had a problem at our end.</h2>
    <p>Hopefully this a temporary setback. We'll check it out soon.</p>
  </div>
  <div class="col-sm-4">

  </div>
</div>
