---
http_interactions:
- request:
    method: get
    uri: https://crates.io/api/v1/crates/libc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[{"category":"External FFI bindings","crates_cnt":1101,"created_at":"2017-01-17T19:13:05.112025+00:00","description":"Direct
        Rust FFI bindings to libraries written in other languages; often denoted by
        a -sys suffix. Safe and idiomatic wrappers are in the API bindings category.\n","id":"external-ffi-bindings","slug":"external-ffi-bindings"},{"category":"Operating
        systems","crates_cnt":599,"created_at":"2017-01-17T19:13:05.112025+00:00","description":"Bindings
        to operating system-specific APIs.","id":"os","slug":"os"},{"category":"No
        standard library","crates_cnt":5148,"created_at":"2017-02-10T01:52:09.447906+00:00","description":"Crates
        that are able to function without the Rust standard library.\n","id":"no-std","slug":"no-std"}],"crate":{"badges":[],"categories":["external-ffi-bindings","os","no-std"],"created_at":"2015-01-15T20:22:13.100871+00:00","description":"Raw
        FFI bindings to platform libraries like libc.\n","documentation":"https://docs.rs/libc/","downloads":220852609,"exact_match":false,"homepage":"https://github.com/rust-lang/libc","id":"libc","keywords":["ffi","operating","bindings","libc","system"],"links":{"owner_team":"/api/v1/crates/libc/owner_team","owner_user":"/api/v1/crates/libc/owner_user","owners":"/api/v1/crates/libc/owners","reverse_dependencies":"/api/v1/crates/libc/reverse_dependencies","version_downloads":"/api/v1/crates/libc/downloads","versions":null},"max_stable_version":"0.2.147","max_version":"0.2.147","name":"libc","newest_version":"0.2.147","recent_downloads":28078926,"repository":"https://github.com/rust-lang/libc","updated_at":"2023-06-25T18:25:40.915556+00:00","versions":[831302,816804,815359,795134,794148,781097,767914,745583,689714,675829,649962,648699,638670,631276,624349,603667,600770,600513,599652,599330,595995,550533,540888,534563,531267,528437,518844,516067,502622,500282,493972,491579,490881,489233,486390,467572,466666,465909,462968,456222,449782,446638,442253,438540,430597,425870,417534,415620,411207,398499,388806,387795,382260,371339,362346,358503,355428,353880,352692,348038,346368,337066,334406,332879,332554,324283,312506,298941,290425,289223,281962,274412,274397,267249,263935,259963,245683,240656,230996,222203,214297,192983,183459,182828,170724,169588,168916,163049,161737,154074,153833,153802,150885,148107,146965,142012,137368,135409,129695,128162,125335,121714,119061,102589,95089,93661,86416,83417,83347,82661,77227,76325,72807,69615,67575,65812,63743,61242,60588,60383,59067,59046,56839,53711,51450,46700,42535,41598,38948,35816,33357,31311,29868,29286,28414,26549,25536,24776,23609,22138,21365,21096,19509,19469,17958,17638,17572,17355,16916,14628,13021,10384,9938,8437,7842,7408,6260,4732,4106,3006]},"keywords":[{"crates_cnt":1263,"created_at":"2014-11-21T14:53:31.372632+00:00","id":"ffi","keyword":"ffi"},{"crates_cnt":5,"created_at":"2018-12-10T16:35:24.539294+00:00","id":"operating","keyword":"operating"},{"crates_cnt":487,"created_at":"2014-11-20T21:45:18.916803+00:00","id":"bindings","keyword":"bindings"},{"crates_cnt":21,"created_at":"2015-11-21T13:17:16.903742+00:00","id":"libc","keyword":"libc"},{"crates_cnt":170,"created_at":"2014-11-21T22:48:22.309413+00:00","id":"system","keyword":"system"}],"versions":[{"audit_actions":[{"action":"publish","time":"2023-06-25T18:25:40.915556+00:00","user":{"avatar":"https://avatars.githubusercontent.com/u/25030997?v=4","id":51017,"login":"JohnTitor","name":"Yuki
        Okushi","url":"https://github.com/JohnTitor"}}],"checksum":"b4668fb0ea861c1df094127ac5f1da3409a82116a4ba74fca2e58ef927159bb3","crate":"libc","crate_size":686772,"created_at":"2023-06-25T18:25:40.915556+00:00","dl_path":"/api/v1/crates/libc/0.2.147/download","downloads":5477494,"features":{"align":[],"const-extern-fn":[],"default":["std"],"extra_traits":[],"rustc-dep-of-std":["align","rustc-std-workspace-core"],"std":[],"use_std":["std"]},"id":831302,"license":"MIT
        OR Apache-2.0","links":{"authors":"/api/v1/crates/libc/0.2.147/authors","dependencies":"/api/v1/crates/libc/0.2.147/dependencies","version_downloads":"/api/v1/crates/libc/0.2.147/downloads"},"num":"0.2.147","published_by":{"avatar":"https://avatars.githubusercontent.com/u/25030997?v=4","id":51017,"login":"JohnTitor","name":"Yuki
        Okushi","url":"https://github.com/JohnTitor"},"readme_path":"/api/v1/crates/libc/0.2.147/readme","rust_version":null,"updated_at":"2023-06-25T18:25:40.915556+00:00","yanked":false},{"audit_actions":[{"action":"publish","time":"2023-06-06T13:02:40.575045+00:00","user":{"avatar":"https://avatars.githubusercontent.com/u/278509?v=4","id":2915,"login":"Amanieu","name":"Amanieu
        d''Antras","url":"https://github.com/Amanieu"}}],"checksum":"f92be4933c13fd498862a9e02a3055f8a8d9c039ce33db97306fd5a6caa7f29b","crate":"libc","crate_size":684707,"created_at":"2023-06-06T13:02:40.575045+00:00","dl_path":"/api/v1/crates/libc/0.2.146/download","downloads":3290362,"features":{[...]
- request:
    method: get
    uri: https://crates.io/api/v1/crates/libc/0.2.147/download
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: ''
    headers:
      Location:
      - https://static.crates.io/crates/libc/libc-0.2.147.crate
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 31 Jul 2023 16:14:39 GMT
- request:
    method: get
    uri: https://static.crates.io/crates/libc/libc-0.2.147.crate
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Amz-Request-Id:
      - B49NT0GJK2Z4B9VX
      X-Amz-Replication-Status:
      - COMPLETED
      Last-Modified:
      - Sun, 25 Jun 2023 18:25:42 GMT
      Etag:
      - '"26c20e41bc14af441bdabca4bf2de865"'
      X-Amz-Server-Side-Encryption:
      - AES256
      X-Amz-Version-Id:
      - 5J_ufPqmVXUP.fv8.wwBTg0UNF5Dr6Z.
      Content-Type:
      - application/gzip
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        H4sICAAAAAAC/2xpYmMtMC4yLjE0Ny5jcmF0ZQDsvWt72ziSMDqf9SvY7n277T6ybMnyJU737CPLcqK3bckjyblsNg9NS5TNCUWqScmOe6bPbz9VBYDEjZTcuZyZ3eSZ6UREASgUCoVCoaoQBjfj7d1ao1ZvHu7Uxl5yG7v349QNomlc+3saR3/59D+78Oeg2bR+xz/1vYPs3/AL/l1v1Bu7f9n9y1f4s0wXXuI4f/lf+ucfFcfZuA0WG8cO/hN+pHdeHX5t+I2b/fp+/WBvz2s2b3YnN0f7uzeHTc/b3T2c7t0c7U3Gjb29g8kGVPujis3MvcUdMA7yDzawUfnjL9/[...]
