---
http_interactions:
- request:
    method: get
    uri: https://proxy.golang.org/github.com/!puerkito!bio/goquery/@latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"Version":"v1.8.1","Time":"2023-02-18T15:29:26Z","Origin":{"VCS":"git","URL":"https://github.com/PuerkitoBio/goquery","Ref":"refs/tags/v1.8.1","Hash":"39fb6d4dc47a07e5782494b6defc89a194b1f906"}}'
  recorded_at: Wed, 19 Jul 2023 22:33:10 GMT
- request:
    method: get
    uri: https://proxy.golang.org/github.com/!puerkito!bio/goquery/@v/v1.8.1.mod
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Last-Modified:
      - Sat, 18 Feb 2023 15:34:26 GMT
      Etag:
      - '"3dd26b5a854ae6a8e67b884618c66a8146d278b57ddfbe95b1b583595e6521fa"'
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: "module github.com/PuerkitoBio/goquery\n\nrequire (\n\tgithub.com/andybalholm/cascadia
        v1.3.1\n\tgolang.org/x/net v0.7.0\n)\n\ngo 1.13\n"
  recorded_at: Wed, 19 Jul 2023 22:33:10 GMT
- request:
    method: get
    uri: https://proxy.golang.org/github.com/!puerkito!bio/goquery/@v/v1.5.1.mod
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Etag:
      - '"de2deaf267659bcc91aa185fcbc30bad0783a15e647ae3ef99c7a8ad5cbb2970"'
      Last-Modified:
      - Tue, 04 Feb 2020 23:18:22 GMT
    body:
      encoding: ASCII-8BIT
      string: "module github.com/PuerkitoBio/goquery\n\nrequire (\n\tgithub.com/andybalholm/cascadia
        v1.1.0\n\tgolang.org/x/net v0.0.0-20200202094626-16171245cfb2\n)\n\ngo 1.13\n"
  recorded_at: Thu, 20 Jul 2023 18:51:20 GMT
recorded_with: VCR 4.0.0
