<div class="col-md-3">
  <h5><strong><%= title %></strong></h5>
  <table class='table table-striped table-hover'>
    <% records.each do |date,count| %>
      <tr>
        <td>
          <%= date.to_fs(:long) %>
        </td>
        <td>
          <%= number_with_delimiter count %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
