<%= render 'admin/nav' %>
<% title 'Repo Stats - Libraries.io' %>
<h1>
  Repo Stats
</h1>

<div class="row">
  <%= stats_for('Orgs', @new_orgs) %>
  <%= stats_for('Users', @new_users) %>
  <%= stats_for('Manifests', @new_manifests) %>
</div>
